flow/maa.json
[
    {
        "id": "2d3e95d84d5d58c5",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 1230,
        "y": 80,
        "wires": [
            [
                "139b33e0bee6f09e",
                "051c741792e36877"
            ]
        ]
    },
    {
        "id": "222a61a06877f280",
        "type": "inject",
        "z": "96c943525c9eebc4",
        "name": "初始化1",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 880,
        "y": 80,
        "wires": [
            [
                "f94f2ae454b8d51f"
            ]
        ]
    },
    {
        "id": "139b33e0bee6f09e",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "版本",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 40,
        "wires": []
    },
    {
        "id": "0c435f1d6e94d42a",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 1230,
        "y": 240,
        "wires": [
            [
                "4979cf94303bd042",
                "b6114c279c675c22"
            ]
        ]
    },
    {
        "id": "5afb1504cd293caf",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "8a6477e3080cda15",
                "d3bfd26e09812f39"
            ]
        ]
    },
    {
        "id": "f01bd1b73ec65dac",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 800,
        "wires": [
            [
                "4cb916c918d06691",
                "d007b1aa906f6f4d"
            ]
        ]
    },
    {
        "id": "28ea922344229b78",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 1230,
        "y": 400,
        "wires": [
            [
                "b7daabf38792e246",
                "3057a24e506bb1d1"
            ]
        ]
    },
    {
        "id": "08ce414285e3d24b",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "唤醒",
        "func": "// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"StartUp\"\nconst params = JSON.stringify({\n    \"client_type\": \"Official\",\n    \"start_game_enabled\": true\n})\n\nmsg.topic = \"AppendTask\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 160,
        "wires": [
            [
                "5afb1504cd293caf"
            ]
        ]
    },
    {
        "id": "cf16728b7378056d",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "创建实例",
        "func": "msg.topic = \"Create\"\n\nmsg.payload = {\n    \"address\": \"10.10.1.5:5556\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 240,
        "wires": [
            [
                "0c435f1d6e94d42a"
            ]
        ]
    },
    {
        "id": "9531df95b6455050",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "设置触控模式",
        "func": "const uuid = global.get(\"uuid\")\n\nmsg.topic = \"SetTouchMode\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"mode\": \"maatouch\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 400,
        "wires": [
            [
                "28ea922344229b78"
            ]
        ]
    },
    {
        "id": "650dbfef29163578",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "存储uuid",
        "func": "global.set(\"uuid\", msg.payload.uuid)\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 320,
        "wires": [
            [
                "b7aa97638d299926"
            ]
        ]
    },
    {
        "id": "5ca45938fa06cad8",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "开始任务",
        "func": "// 任务类型\nmsg.topic = \"Start\"\n\nconst uuid = global.get(\"uuid\")\n\nmsg.payload = {\n    \"uuid\": uuid\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 800,
        "wires": [
            [
                "f01bd1b73ec65dac"
            ]
        ]
    },
    {
        "id": "4cb916c918d06691",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "开始任务",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 760,
        "wires": []
    },
    {
        "id": "4979cf94303bd042",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "实例uuid",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 200,
        "wires": []
    },
    {
        "id": "b7daabf38792e246",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "触控模式",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a6477e3080cda15",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "唤醒",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 120,
        "wires": []
    },
    {
        "id": "140fe054e6642932",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 80,
        "wires": [
            [
                "fbbd72c9dd6d0f9b",
                "8099de6e0499a61d"
            ]
        ]
    },
    {
        "id": "10db52a932377a2d",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "连接",
        "func": "const uuid = global.get(\"uuid\")\nconst config = {}\n\nmsg.topic = \"Connect\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"adbPath\": \"/data/env/adb/adb\",\n    \"address\": \"10.10.1.5:5556\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 80,
        "wires": [
            [
                "140fe054e6642932"
            ]
        ]
    },
    {
        "id": "fbbd72c9dd6d0f9b",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "连接",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "8bca85195c012373",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "加载资源",
        "func": "msg.topic = \"LoadResource\"\n\nmsg.payload = {\n    \"maaPath\": \"/data/env/maa\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 160,
        "wires": [
            [
                "c678b1360312d0e0"
            ]
        ]
    },
    {
        "id": "c678b1360312d0e0",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 1230,
        "y": 160,
        "wires": [
            [
                "0bc034b8f9624c99",
                "a1fa833a886415d1"
            ]
        ]
    },
    {
        "id": "0bc034b8f9624c99",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "加载资源",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 120,
        "wires": []
    },
    {
        "id": "8099de6e0499a61d",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "5942f13ce205aa78"
        ],
        "x": 565,
        "y": 80,
        "wires": []
    },
    {
        "id": "d3bfd26e09812f39",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "5414720ff4d1fad0"
        ],
        "x": 565,
        "y": 160,
        "wires": []
    },
    {
        "id": "5942f13ce205aa78",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 2",
        "links": [
            "8099de6e0499a61d"
        ],
        "x": 115,
        "y": 160,
        "wires": [
            [
                "08ce414285e3d24b"
            ]
        ]
    },
    {
        "id": "d37f9418ae1104ea",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 3",
        "links": [
            "ba3e7eb214e3afce"
        ],
        "x": 115,
        "y": 800,
        "wires": [
            [
                "5ca45938fa06cad8"
            ]
        ]
    },
    {
        "id": "d007b1aa906f6f4d",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 4",
        "mode": "link",
        "links": [],
        "x": 565,
        "y": 800,
        "wires": []
    },
    {
        "id": "08dddc6d647f42c8",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "24d85a26fabbfcf0",
                "7337c8f4b03dd074"
            ]
        ]
    },
    {
        "id": "7caf913eccefb1fb",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "基建换班",
        "func": "// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Infrast\"\nconst facility = [\n    \"Mfg\", \"Trade\", \"Power\", \"Reception\", \"Office\", \"Dorm\"\n]\nconst params = JSON.stringify({\n    \"facility\": facility,\n    \"drones\": \"CombatRecord\",\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 400,
        "wires": [
            [
                "08dddc6d647f42c8"
            ]
        ]
    },
    {
        "id": "de40b48befc2f68c",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "972a8c424685053c",
                "bc4861011df4b516"
            ]
        ]
    },
    {
        "id": "9f10af824c8c0307",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 640,
        "wires": [
            [
                "cd20fe140b6ea36c",
                "cfbd7f314e043c88"
            ]
        ]
    },
    {
        "id": "9a442b9b0d44e4ef",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "访问",
        "func": "// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Visit\"\n\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 560,
        "wires": [
            [
                "de40b48befc2f68c"
            ]
        ]
    },
    {
        "id": "4dd2bfb75f3cda6d",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "购物",
        "func": "// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Mall\"\nconst buy_first = new Array(\n    \"招聘许可\", \"龙门币\"\n)\nconst blacklist = new Array(\n    \"家具\", \"碳\"\n)\nconst params = JSON.stringify({\n    \"shopping\": true,\n    \"buy_first\": buy_first,\n    \"blacklist\": blacklist\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 640,
        "wires": [
            [
                "9f10af824c8c0307"
            ]
        ]
    },
    {
        "id": "283d09c4068fdc7c",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 4",
        "links": [
            "a4389be5dc865654"
        ],
        "x": 115,
        "y": 400,
        "wires": [
            [
                "7caf913eccefb1fb"
            ]
        ]
    },
    {
        "id": "24d85a26fabbfcf0",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "07a1a97e36e8b46f"
        ],
        "x": 565,
        "y": 400,
        "wires": []
    },
    {
        "id": "7337c8f4b03dd074",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "基建换班",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "7ae16e9b6edb3f03",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 5",
        "links": [
            "1d78b5fad8884c59"
        ],
        "x": 115,
        "y": 560,
        "wires": [
            [
                "9a442b9b0d44e4ef"
            ]
        ]
    },
    {
        "id": "972a8c424685053c",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "81d5d03c1a0b696f"
        ],
        "x": 565,
        "y": 560,
        "wires": []
    },
    {
        "id": "81d5d03c1a0b696f",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 6",
        "links": [
            "972a8c424685053c"
        ],
        "x": 115,
        "y": 640,
        "wires": [
            [
                "4dd2bfb75f3cda6d"
            ]
        ]
    },
    {
        "id": "cd20fe140b6ea36c",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "77a754c20bd1f070"
        ],
        "x": 565,
        "y": 640,
        "wires": []
    },
    {
        "id": "bc4861011df4b516",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "访问",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "cfbd7f314e043c88",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "购物",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 600,
        "wires": []
    },
    {
        "id": "77bbb288efa7eb75",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 720,
        "wires": [
            [
                "ba3e7eb214e3afce",
                "293bf839d331eb4a"
            ]
        ]
    },
    {
        "id": "5569dc1504ec24e4",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "奖励",
        "func": "// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Award\"\n\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 720,
        "wires": [
            [
                "77bbb288efa7eb75"
            ]
        ]
    },
    {
        "id": "77a754c20bd1f070",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 7",
        "links": [
            "cd20fe140b6ea36c"
        ],
        "x": 115,
        "y": 720,
        "wires": [
            [
                "5569dc1504ec24e4"
            ]
        ]
    },
    {
        "id": "ba3e7eb214e3afce",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "d37f9418ae1104ea"
        ],
        "x": 565,
        "y": 720,
        "wires": []
    },
    {
        "id": "293bf839d331eb4a",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "奖励",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 680,
        "wires": []
    },
    {
        "id": "6164fb7e2ea21107",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "uuid",
        "func": "const uuid = global.get(\"uuid\")\nmsg.payload = uuid\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "4dfa5f438331c4f5"
            ]
        ]
    },
    {
        "id": "b10358d2d332222b",
        "type": "inject",
        "z": "96c943525c9eebc4",
        "name": "验证uuid",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 880,
        "y": 480,
        "wires": [
            [
                "6164fb7e2ea21107"
            ]
        ]
    },
    {
        "id": "4dfa5f438331c4f5",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "uuid",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 480,
        "wires": []
    },
    {
        "id": "2d22af48b614c795",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "a4389be5dc865654",
                "f80c66ab6d1f2ca1"
            ]
        ]
    },
    {
        "id": "1a427590985b5f86",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "战斗",
        "func": "// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Fight\"\nconst params = JSON.stringify({\n    \"stage\": \"\",\n    \"report_to_penguin\": false,\n    \"medicine\": 0,\n    // \"penguin_id\":\"1234567\"\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 320,
        "wires": [
            [
                "2d22af48b614c795"
            ]
        ]
    },
    {
        "id": "0248d325a6f04bf8",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 8",
        "links": [
            "8b6fe085caac426e"
        ],
        "x": 115,
        "y": 320,
        "wires": [
            [
                "1a427590985b5f86"
            ]
        ]
    },
    {
        "id": "a4389be5dc865654",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "283d09c4068fdc7c"
        ],
        "x": 565,
        "y": 320,
        "wires": []
    },
    {
        "id": "f80c66ab6d1f2ca1",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "战斗",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 280,
        "wires": []
    },
    {
        "id": "15afe79bdc39a7dd",
        "type": "inject",
        "z": "96c943525c9eebc4",
        "name": "开始任务",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "10db52a932377a2d"
            ]
        ]
    },
    {
        "id": "b752f0e59c93d763",
        "type": "ui_iframe",
        "z": "96c943525c9eebc4",
        "group": "7acb3b0248789cb1",
        "name": "实例画面",
        "order": 0,
        "width": "10",
        "height": "9",
        "url": "http://10.10.2.20:8000/#!action=stream&udid=10.10.1.5%3A5556&player=broadway&ws=ws%3A%2F%2F10.10.2.20%3A8000%2F%3Faction%3Dproxy-adb%26remote%3Dtcp%253A8886%26udid%3D10.10.1.5%253A5556",
        "origin": "*",
        "scale": 100,
        "x": 1400,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f94f2ae454b8d51f",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "Maa版本",
        "func": "msg.topic = \"Version\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1040,
        "y": 80,
        "wires": [
            [
                "2d3e95d84d5d58c5"
            ]
        ]
    },
    {
        "id": "132ebac790c02477",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 9",
        "links": [
            "051c741792e36877"
        ],
        "x": 895,
        "y": 160,
        "wires": [
            [
                "8bca85195c012373"
            ]
        ]
    },
    {
        "id": "051c741792e36877",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "132ebac790c02477"
        ],
        "x": 1365,
        "y": 80,
        "wires": []
    },
    {
        "id": "a1fa833a886415d1",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "e88313e7c31144a7"
        ],
        "x": 1365,
        "y": 160,
        "wires": []
    },
    {
        "id": "f923183e2e3f99a7",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 11",
        "links": [
            "b7aa97638d299926"
        ],
        "x": 895,
        "y": 400,
        "wires": [
            [
                "9531df95b6455050"
            ]
        ]
    },
    {
        "id": "b6114c279c675c22",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "7b834652ff79cd14"
        ],
        "x": 1365,
        "y": 240,
        "wires": []
    },
    {
        "id": "3057a24e506bb1d1",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 13",
        "mode": "link",
        "links": [],
        "x": 1365,
        "y": 400,
        "wires": []
    },
    {
        "id": "7b834652ff79cd14",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 13",
        "links": [
            "b6114c279c675c22"
        ],
        "x": 895,
        "y": 320,
        "wires": [
            [
                "650dbfef29163578"
            ]
        ]
    },
    {
        "id": "b7aa97638d299926",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "f923183e2e3f99a7"
        ],
        "x": 1365,
        "y": 320,
        "wires": []
    },
    {
        "id": "e88313e7c31144a7",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 14",
        "links": [
            "a1fa833a886415d1"
        ],
        "x": 895,
        "y": 240,
        "wires": [
            [
                "cf16728b7378056d"
            ]
        ]
    },
    {
        "id": "650dd71fb77fe4e7",
        "type": "ui_time_scheduler",
        "z": "96c943525c9eebc4",
        "group": "f06ff5ba0623a78d",
        "name": "定时任务",
        "startDay": 0,
        "refresh": 60,
        "devices": [
            "定时任务"
        ],
        "singleOff": false,
        "onlySendChange": false,
        "customPayload": false,
        "eventMode": true,
        "eventOptions": [
            {
                "label": "On",
                "event": "true"
            },
            {
                "label": "Off",
                "event": "false"
            }
        ],
        "sendTopic": false,
        "lat": "",
        "lon": "",
        "customContextStore": "file",
        "outputs": 2,
        "order": 1,
        "width": "6",
        "height": "8",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "10db52a932377a2d"
            ],
            [
                "10db52a932377a2d"
            ]
        ]
    },
    {
        "id": "b16531fe54874eb1",
        "type": "ui_iframe",
        "z": "96c943525c9eebc4",
        "group": "8b297249c15b75b1",
        "name": "实例画面",
        "order": 1,
        "width": "20",
        "height": "20",
        "url": "http://localhost:8000/#!action=stream&udid=10.10.1.5%3A5556&player=broadway&ws=ws%3A%2F%2Flocalhost%3A8000%2F%3Faction%3Dproxy-adb%26remote%3Dtcp%253A8886%26udid%3D10.10.1.5%253A5556",
        "origin": "*",
        "scale": "200",
        "x": 1560,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "89a0f71bcb5b0e19",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "公招",
        "func": "// 添加任务\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Recruit\"\nconst params = JSON.stringify({\n    \"refresh\": true,\n    \"select\": [3, 4, 5],\n    \"confirm\": [3, 4, 5],\n    \"times\": 2,\n    \"expedite\": false,\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 480,
        "wires": [
            [
                "4965e3bfd756f1a7"
            ]
        ]
    },
    {
        "id": "4965e3bfd756f1a7",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 480,
        "wires": [
            [
                "1d78b5fad8884c59",
                "c9a020a14f37f7b2"
            ]
        ]
    },
    {
        "id": "07a1a97e36e8b46f",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 15",
        "links": [
            "6bcd99c8e716e622",
            "24d85a26fabbfcf0"
        ],
        "x": 115,
        "y": 480,
        "wires": [
            [
                "89a0f71bcb5b0e19"
            ]
        ]
    },
    {
        "id": "1d78b5fad8884c59",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "9db95e20fef213cd",
            "7ae16e9b6edb3f03"
        ],
        "x": 565,
        "y": 480,
        "wires": []
    },
    {
        "id": "c9a020a14f37f7b2",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "公招",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 440,
        "wires": []
    },
    {
        "id": "8e11c356ce8125cd",
        "type": "maa",
        "z": "96c943525c9eebc4",
        "maaCore": "72b0ff95efc17e26",
        "name": "Maa",
        "x": 430,
        "y": 240,
        "wires": [
            [
                "8b6fe085caac426e",
                "0ee7e7e8d6e8edf9"
            ]
        ]
    },
    {
        "id": "823df553caed9ba7",
        "type": "function",
        "z": "96c943525c9eebc4",
        "name": "战斗",
        "func": "// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Fight\"\nconst params = JSON.stringify({\n    \"stage\": \"\",\n    \"report_to_penguin\": false,\n    \"medicine\": 0,\n    // \"penguin_id\":\"1234567\"\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 240,
        "wires": [
            [
                "8e11c356ce8125cd"
            ]
        ]
    },
    {
        "id": "5414720ff4d1fad0",
        "type": "link in",
        "z": "96c943525c9eebc4",
        "name": "link in 16",
        "links": [
            "d3bfd26e09812f39"
        ],
        "x": 115,
        "y": 240,
        "wires": [
            [
                "823df553caed9ba7"
            ]
        ]
    },
    {
        "id": "8b6fe085caac426e",
        "type": "link out",
        "z": "96c943525c9eebc4",
        "name": "link out 16",
        "mode": "link",
        "links": [
            "0248d325a6f04bf8"
        ],
        "x": 565,
        "y": 240,
        "wires": []
    },
    {
        "id": "0ee7e7e8d6e8edf9",
        "type": "debug",
        "z": "96c943525c9eebc4",
        "name": "战斗",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 200,
        "wires": []
    },
    {
        "id": "72b0ff95efc17e26",
        "type": "maaCore",
        "maaPath": "/data/env/maa",
        "adbPath": "/data/env/adb/adb",
        "name": "maa01"
    },
    {
        "id": "7acb3b0248789cb1",
        "type": "ui_group",
        "name": "timming",
        "tab": "eb1614c0e37a4c62",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f06ff5ba0623a78d",
        "type": "ui_group",
        "name": "定时任务",
        "tab": "41a81188b0e37419",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b297249c15b75b1",
        "type": "ui_group",
        "name": "Maa",
        "tab": "41a81188b0e37419",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb1614c0e37a4c62",
        "type": "ui_tab",
        "name": "Local",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "41a81188b0e37419",
        "type": "ui_tab",
        "name": "Maa",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]