flow/maa_with_ui/maa_with_ui.json
[
  {
    "id":"18f8f72f97f001c1",
    "type":"tab",
    "label":"Maa Flow",
    "disabled":false,
    "info":"",
    "env":[ ]
  },
  {
    "id":"27cd9c6795b74945",
    "type":"tab",
    "label":"Maa Initialization",
    "disabled":false,
    "info":"",
    "env":[ ]
  },
  {
    "id":"1a5d546ba115409f",
    "type":"tab",
    "label":"Maa UI",
    "disabled":false,
    "info":"",
    "env":[ ]
  },
  {
    "id":"0cae61c4838b5b3e",
    "type":"tab",
    "label":"Maa Module",
    "disabled":false,
    "info":"",
    "env":[ ]
  },
  {
    "id":"ef55c00613a0f0a1",
    "type":"subflow",
    "name":"Maa介质信息",
    "info":"",
    "category":"",
    "in":[
      {
        "x":60,
        "y":80,
        "wires":[
          {
            "id":"9c32d3f398375b16"
          }
        ]
      }
    ],
    "out":[
      {
        "x":1020,
        "y":80,
        "wires":[
          {
            "id":"bd526589a9b45396",
            "port":0
          }
        ]
      }
    ],
    "env":[ ],
    "meta":{ },
    "color":"#DDAA99"
  },
  {
    "id":"7170d8140b1c71f8",
    "type":"group",
    "z":"18f8f72f97f001c1",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "e19f045e0d425f7e",
      "033ae7979fbc6a6c",
      "89d03213357a396e",
      "48b0917c53de3a5c",
      "f7b28c0b941eb5ab",
      "fbfb16b1cd33513d",
      "f8f07ba8719ede5a",
      "9433618e649fb6ed",
      "74857ad5a5b7c0e8",
      "2707245ec178a65d",
      "99592412b924acda",
      "ba9252f2d95c5f79",
      "6f427beecb20b7b7",
      "2a70b6a7904ecaaf",
      "f03d41936424d07c",
      "6124a914192116bc",
      "3ba69166c4460868",
      "b203904ad6149c46",
      "20ab7aae2845c3ea",
      "46c71beb3f971da8",
      "9db95e20fef213cd",
      "eefafa83e36b46d7",
      "eb39dcaeafa9f006",
      "d46dcf84b8565dc5",
      "74062179e1a6bc4b",
      "e2a6c7069deed072",
      "17d77e4565bbc12e",
      "7080e20a834ae090",
      "591d579b0cf9fdfd",
      "50e26aabd7eebae5",
      "a7812eb136285b2c",
      "642e537314c6a03e",
      "b2b08210a2011748",
      "cf6ac7f040219622",
      "dbce1e0a6b14352e",
      "dd0d8042e1bdfe51",
      "c301079632a80db0",
      "61e83dee565f5a28",
      "dc02c43c020521fb",
      "41abbee272a63fd9",
      "940ad021cb7d8e04",
      "8a125e39d652b0d4",
      "0406f3c337c38695",
      "be856ea0fbe5622f",
      "be87bc1878fba0f8",
      "99281c13c4e6c557",
      "801a5b60809a9702",
      "8b50e3bc69d54ea3",
      "ae9c55892f2ded21",
      "f8fe6d668ec50f44",
      "971e9ad8dfe9f043",
      "352ea78642c84f7d",
      "adabc3b3e5c23a80",
      "6bcd99c8e716e622",
      "b613c2471d3bddd8",
      "5641575d93cc7b17",
      "7d4a42283a60452b",
      "2769af71c6687b53",
      "c530f7f9af3d9b4c",
      "27fcbd89b2dfb4b4",
      "0136a408a73a7baa",
      "0cd6f28ed89b52ce"
    ],
    "x":44,
    "y":39,
    "w":582,
    "h":802
  },
  {
    "id":"e9d70c068473aa53",
    "type":"group",
    "z":"27cd9c6795b74945",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "8f1ec5a912ea6ec3",
      "adfb6f1f6c6fc97a",
      "a9eff220faee1dc8",
      "146d29e53e28ce2c",
      "6d14e77424baf4a9",
      "b601a6a4fec9cd3f",
      "388d0a264a1d8d59",
      "e26de4468f6c6670",
      "5ddbaeedcfe01bb3",
      "4fcb959196ecc086",
      "20d29989b4bbc793",
      "285645d3cf7823ba",
      "2b2e28b107931ef8",
      "adc18ba1f9495706",
      "5585eef8c5f966fe",
      "14e11c7086d0845d",
      "3b526c76656f2e6a",
      "a805063ba2650d69",
      "3ee9fd6abc861ab7",
      "1de4f2ad0f62966c",
      "36a8d9fe02c6640e",
      "0d6b38865db0b019",
      "0bad06f3eeb1f78c",
      "b3117f86deaa9fd6",
      "f4167976a1e0e9f5",
      "96074d4863074cf8",
      "7cdfa1aa0af3ea13",
      "02b0046221b0e889",
      "899cf866e772aba1",
      "d627a8740844cb15",
      "d7f8f15732c8108b",
      "29b38d5363e5d9db",
      "f972a489f9103b19",
      "ba32dddfbcaf9904",
      "d085056700617505",
      "5da9acd6145a1437",
      "200493a44665fe79",
      "5f5a0989e97292a5"
    ],
    "x":34,
    "y":39,
    "w":732,
    "h":522
  },
  {
    "id":"8256f42dd842ff3e",
    "type":"group",
    "z":"0cae61c4838b5b3e",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "46386d0dc0b33090",
      "a5ac67075b5b7d39",
      "bac42d79f12711a4",
      "32d45a76145016ba",
      "0d8302a5b7c206d4",
      "3ddd712df2ac967c",
      "d17db079530c34f8",
      "2215dd1f258efd90",
      "fcdacafaaf816f14",
      "9a172d2d38d2a8bf",
      "e6c632328916548e",
      "3f295c351af98069",
      "76e8933130de0c7b",
      "2b66bfc57144fb1d",
      "6b9b9bfb6ad09b8d"
    ],
    "x":84,
    "y":759,
    "w":632,
    "h":262
  },
  {
    "id":"8a5cdf3caad13f87",
    "type":"group",
    "z":"0cae61c4838b5b3e",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "bf58db07d41ba0ab",
      "cc34e17267a6dbb4",
      "8ac0d723f0cc5e27",
      "65678eaecec8fba2",
      "cbb08ee17c1c1841",
      "7590d09ac1ded189",
      "c361f6b1118bbb22",
      "4a0b5a13cd476c51",
      "62c276d1569ed671",
      "3b3b947a95435a21",
      "ae4655eb2cfc9605",
      "09ef9b6f479bfa9e",
      "e2036f09a10a7246",
      "cad1fcd4228804ae",
      "b9571fccf2bab8a2"
    ],
    "x":1004,
    "y":219,
    "w":602,
    "h":262
  },
  {
    "id":"21c362379cbb00e7",
    "type":"group",
    "z":"0cae61c4838b5b3e",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "19c6024f75739a71",
      "a5f54d6f75ca6189",
      "99c7a5c608fde589",
      "ac717888b8b4b707",
      "1b90e777afce8abb",
      "1987b2f42ad8fe31",
      "a158606185f0b6e4"
    ],
    "x":84,
    "y":39,
    "w":722,
    "h":142
  },
  {
    "id":"ebe0c6598f832014",
    "type":"group",
    "z":"0cae61c4838b5b3e",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "0a0e3422250bacd0",
      "7f6e7b19291b492c",
      "e10124b017097d53",
      "4543e6043b23601f",
      "8728c91298cd0c96",
      "c6d1f7eb47cb79a6",
      "cf4cd9668f36a1ef",
      "7ab56c6c20b8be2b",
      "89a7b644e27f5d61",
      "28e2ebae829e3efb",
      "d369e338a16dd918",
      "eb9a33fddbfdfae1",
      "658e3e3c6ec27862",
      "bf703aa000839a40",
      "49c27acd5cc16944",
      "1fa87dcc50d36e92",
      "e71c298ad63c395d",
      "5dfee144969b2823",
      "b2acb9c0f656855a",
      "719b8172fbcf008d",
      "3a830d85318cafc5",
      "821c156132847cff",
      "28e963b627ab8d78",
      "90023eab6b8d19af",
      "c8e80ea49d75c6d3",
      "2ab436afabe56dc5",
      "0c84392ace4caceb",
      "0c08c222de944343",
      "d5580fb42a026803",
      "f24720f037a082bf",
      "691b69b356962df3",
      "0d030187b6498337",
      "bae47c28d4e3eae1",
      "f7660272499b275a",
      "5131fce6ce8f8e6c",
      "4c1b24a79a6bc8dc",
      "e1de32c9c1160108",
      "0b3827d7ce88a4bf",
      "da42d9a95b8833f0",
      "743aa6c291d9972d"
    ],
    "x":84,
    "y":219,
    "w":812,
    "h":509.5
  },
  {
    "id":"46044c8b0b88adf2",
    "type":"group",
    "z":"0cae61c4838b5b3e",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "7af1b617699d338b",
      "dfd2b720c3544999",
      "ab4bc09884bbd021",
      "5e79c6267f3e5c9a",
      "5af4abeed7e8817e",
      "1a8011e07d54c365",
      "bade6e78185077c1",
      "d8ea725e5dff0b60",
      "7f57b48c70532fac",
      "b2e78c548f899aa1",
      "60e26979a8cd1d8d"
    ],
    "x":1004,
    "y":519,
    "w":632,
    "h":202
  },
  {
    "id":"83c1a37673fe71e3",
    "type":"group",
    "z":"0cae61c4838b5b3e",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "e2b0214e98554ab8",
      "8f25ef93828b6992",
      "652f577477c587d5",
      "8bd6261ff3062dcc",
      "f5c08a8d4bd8c778"
    ],
    "x":904,
    "y":39,
    "w":462,
    "h":142
  },
  {
    "id":"cba701915d904c02",
    "type":"group",
    "z":"1a5d546ba115409f",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "644e4debf0e7edf8",
      "405c759c1dce813b",
      "5d7d1c81646b109e",
      "3b50f5bf040a62ce",
      "2cfabc9fdb999d1b",
      "dd976bad3c6d97e3",
      "99e1cb89f7c22266",
      "830fa9b1b52b6377",
      "76b51925a280c386",
      "2fd3d30abc3645f7",
      "ba76e872f4b734b4",
      "6e71aff110fe3035",
      "d04b3995334983c5",
      "54b77163d8bb2296",
      "8be9b80dd007e299",
      "e37ce2b4c084306a",
      "5a16e4774794812f",
      "f6bf1628b496c1e9",
      "011a617bcc6d3d63",
      "f09b074477f3dfac",
      "8b5263f596b2b28b",
      "dd147689b2940d10",
      "9542a8e19c53adec",
      "40a95f728818dff2"
    ],
    "x":34,
    "y":2219,
    "w":1052,
    "h":462
  },
  {
    "id":"c07e4ff947e729d5",
    "type":"group",
    "z":"1a5d546ba115409f",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "2d8bd630cdc2aae7",
      "7f4266f77ce8fd81",
      "4837af15506ff65b",
      "e65800f89a4602d2",
      "d7d7caa58c369151",
      "54571cb70f3631e5",
      "35788f436794c3d3",
      "5358b31b4c51aeff",
      "1e21c3e028693f3d",
      "f413c0baf6126838",
      "7f4965dce34a4667",
      "d1969fab356cb5a6",
      "d15addf25fc40de7",
      "5f6a8eb3bb5c4273",
      "eb264209dad349b7",
      "388694307ac0b921",
      "995ad13c474ba9de",
      "2175ae77d8c29485",
      "57552969e1a4f204",
      "ac1cbfeab42f48a0",
      "cef2411748898530",
      "a96e7b1fbc622e28",
      "4d487ee6c109bbe0"
    ],
    "x":74,
    "y":679,
    "w":972,
    "h":382
  },
  {
    "id":"19f278ab332c63e5",
    "type":"group",
    "z":"1a5d546ba115409f",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "ae6f87b3f7f3ac74",
      "33bbc37a093b2836",
      "2b672daa1013d1ab",
      "0702cad74f89b9ba",
      "bcfa0c7118017791",
      "d706bb734d21c653",
      "e4baab51b2bc5811",
      "42e4ba822e58a25b",
      "c7db8cf6d0709b23",
      "7345e7665002b2e5",
      "e4fd5627159f21ad",
      "73323e09071922c2",
      "f2db99b377a8d8c6",
      "40dcdda4706ac54a",
      "f3578fe1ff1cc7dc",
      "3ee61296a7190f21",
      "807d7cecb2c1fea5",
      "a22461f77c2f2a69",
      "bb664703f5b54148",
      "daeeb392990f06f0",
      "9a54b1e0a1e452c4",
      "c5edbfeec5f6a5d4",
      "5a5fc7566ec60369",
      "a39ec8110e5ae4b2",
      "5dbea8ab0bc79f38",
      "9677456af8b5e930",
      "8bd7e3cfea1956df",
      "f4362da5694f1ae2",
      "e498477866b23d5a",
      "601db3e0c56d27d4",
      "8a5f74f9ec8ffed2",
      "104f5dd2123f06b2",
      "329e094cecbbd79e",
      "ee8f992119b332a4",
      "89551e3b677c2274",
      "68164d21e8a682db",
      "4253a8ed466dbeee",
      "47eb70adf7b4d982",
      "f4c786669e1fb06c",
      "c996ddbe276ace1e"
    ],
    "x":74,
    "y":19,
    "w":832,
    "h":602
  },
  {
    "id":"d79e4459c691dde5",
    "type":"group",
    "z":"1a5d546ba115409f",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "fb58d04398a83e4f",
      "897ea81ae22090e2",
      "49722c258ef38c9b",
      "d03276d6356cdfbc",
      "a7798a9d05b54d29",
      "627d690f.b388d8",
      "eaa598b3b807cb97",
      "36197569.0e141a",
      "afb82a23dd1a9bef",
      "7cfeddce4267b08c",
      "8f3d2d34e317991d",
      "08098150732e4980",
      "f4ec4b245c7933c7"
    ],
    "x":1194,
    "y":739,
    "w":752,
    "h":322
  },
  {
    "id":"823eb5b938f853c0",
    "type":"group",
    "z":"1a5d546ba115409f",
    "name":"",
    "style":{
      "label":true
    },
    "nodes":[
      "a43de00f9c8bf7ad",
      "d2eb70051afde3a1",
      "fe6d934df1e7f389",
      "6f6263d9f18e88af",
      "a8a1daa17fb63f0b",
      "5eed8b6eec081ed8",
      "26b38c03242c9aa6",
      "01ca2d5475562ddd",
      "679462c9014717cf",
      "d71479d25dd194e5",
      "790f14135b2a03a8",
      "8ec0b36b50628ea7",
      "2874a2dcf72db5ee",
      "78ae4de323edaee4",
      "1575914d9f976ddc"
    ],
    "x":34,
    "y":2739,
    "w":1052,
    "h":342
  },
  {
    "id":"c916ff8489eb2b0c",
    "type":"group",
    "z":"1a5d546ba115409f",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "3d5abc6e68f85aec",
      "ce69e46727bc52e0",
      "d0d37cf654c6ce09",
      "b667e29a33a26f14",
      "d85110958fe1fb5a",
      "d24aeb2171b0c83b",
      "6e1bc3384a455afd",
      "5d1fafccdaf2cf04",
      "9b30ef80f19fd407",
      "617ba62ea84b785f"
    ],
    "x":964,
    "y":19,
    "w":602,
    "h":202
  },
  {
    "id":"1c5b037f77085938",
    "type":"group",
    "z":"0cae61c4838b5b3e",
    "style":{
      "stroke":"#999999",
      "stroke-opacity":"1",
      "fill":"none",
      "fill-opacity":"1",
      "label":true,
      "label-position":"nw",
      "color":"#a4a4a4"
    },
    "nodes":[
      "ab8319a987190680",
      "a5c939a28746be65",
      "6335f0d6d7a53197",
      "25f9282ca95fe463",
      "7401d293f49c32fe",
      "f5b613808da34ee3",
      "1544712caae62327",
      "73f5d4849759e8dc",
      "20272c66f85bca74"
    ],
    "x":824,
    "y":759,
    "w":492,
    "h":202
  },
  {
    "id":"72b0ff95efc17e26",
    "type":"maaCore",
    "maaPath":"/data/env/maa",
    "adbPath":"/data/env/adb/adb",
    "name":"maa01"
  },
  {
    "id":"b93b86fdbbaffe51",
    "type":"ui_base",
    "theme":{
      "name":"theme-light",
      "lightTheme":{
        "default":"#0094CE",
        "baseColor":"#0094CE",
        "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited":true,
        "reset":false
      },
      "darkTheme":{
        "default":"#097479",
        "baseColor":"#097479",
        "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited":false
      },
      "customTheme":{
        "name":"Untitled Theme 1",
        "default":"#4B7930",
        "baseColor":"#4B7930",
        "baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState":{
        "base-color":{
          "default":"#0094CE",
          "value":"#0094CE",
          "edited":false
        },
        "page-titlebar-backgroundColor":{
          "value":"#0094CE",
          "edited":false
        },
        "page-backgroundColor":{
          "value":"#fafafa",
          "edited":false
        },
        "page-sidebar-backgroundColor":{
          "value":"#ffffff",
          "edited":false
        },
        "group-textColor":{
          "value":"#1bbfff",
          "edited":false
        },
        "group-borderColor":{
          "value":"#ffffff",
          "edited":false
        },
        "group-backgroundColor":{
          "value":"#ffffff",
          "edited":false
        },
        "widget-textColor":{
          "value":"#111111",
          "edited":false
        },
        "widget-backgroundColor":{
          "value":"#0094ce",
          "edited":false
        },
        "widget-borderColor":{
          "value":"#ffffff",
          "edited":false
        },
        "base-font":{
          "value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme":{
        "primary":"indigo",
        "accents":"blue",
        "warn":"red",
        "background":"grey",
        "palette":"light"
      }
    },
    "site":{
      "name":"MAA",
      "hideToolbar":"false",
      "allowSwipe":"false",
      "lockMenu":"true",
      "allowTempTheme":"true",
      "dateFormat":"YYYY/MM/DD",
      "sizes":{
        "sx":48,
        "sy":48,
        "gx":6,
        "gy":6,
        "cx":6,
        "cy":6,
        "px":0,
        "py":0
      }
    }
  },
  {
    "id":"b5eea0068874b32c",
    "type":"ui_group",
    "name":"菜单",
    "tab":"8594218be5d09a8c",
    "order":1,
    "disp":false,
    "width":"6",
    "collapse":false,
    "className":""
  },
  {
    "id":"c07d957e2ef6a0be",
    "type":"ui_group",
    "name":"定时任务配置",
    "tab":"8594218be5d09a8c",
    "order":8,
    "disp":false,
    "width":"6",
    "collapse":false,
    "className":""
  },
  {
    "id":"6a3a964b3ce4c614",
    "type":"ui_tab",
    "name":"任务",
    "icon":"dashboard",
    "order":1,
    "disabled":false,
    "hidden":false
  },
  {
    "id":"8594218be5d09a8c",
    "type":"ui_tab",
    "name":"设置",
    "icon":"settings",
    "order":2,
    "disabled":false,
    "hidden":false
  },
  {
    "id":"7cc13ba53403d300",
    "type":"ui_group",
    "name":"画面展示",
    "tab":"6a3a964b3ce4c614",
    "order":4,
    "disp":false,
    "width":"10",
    "collapse":false,
    "className":""
  },
  {
    "id":"c982fbb8.1deb38",
    "type":"ui_group",
    "name":"hidden_group",
    "tab":"7c447e96.4b96a",
    "order":2,
    "disp":false,
    "width":"6",
    "collapse":false,
    "className":""
  },
  {
    "id":"7c447e96.4b96a",
    "type":"ui_tab",
    "name":"Zooland Sys",
    "icon":"home",
    "order":3,
    "disabled":false,
    "hidden":false
  },
  {
    "id":"61c4318a8cbb8ead",
    "type":"ui_group",
    "name":"刷理智配置",
    "tab":"6a3a964b3ce4c614",
    "order":3,
    "disp":false,
    "width":"6",
    "collapse":false,
    "className":""
  },
  {
    "id":"39e63e62c7bbb0f6",
    "type":"ui_group",
    "name":"基础配置",
    "tab":"6a3a964b3ce4c614",
    "order":1,
    "disp":false,
    "width":"6",
    "collapse":false,
    "className":""
  },
  {
    "id":"e2fdae501bd3d137",
    "type":"ui_group",
    "name":"开始唤醒配置",
    "tab":"6a3a964b3ce4c614",
    "order":2,
    "disp":false,
    "width":"6",
    "collapse":false,
    "className":""
  },
  {
    "id":"ac79205817a289c6",
    "type":"ui_spacer",
    "z":"1a5d546ba115409f",
    "name":"spacer",
    "group":"b5eea0068874b32c",
    "order":9,
    "width":6,
    "height":1
  },
  {
    "id":"a6cf0409456addb6",
    "type":"ui_spacer",
    "z":"1a5d546ba115409f",
    "name":"spacer",
    "group":"b5eea0068874b32c",
    "order":10,
    "width":6,
    "height":1
  },
  {
    "id":"b7de15e2b3b4094c",
    "type":"ui_spacer",
    "z":"1a5d546ba115409f",
    "name":"spacer",
    "group":"b5eea0068874b32c",
    "order":11,
    "width":6,
    "height":1
  },
  {
    "id":"8f714e767f043607",
    "type":"ui_spacer",
    "z":"1a5d546ba115409f",
    "name":"spacer",
    "group":"b5eea0068874b32c",
    "order":12,
    "width":6,
    "height":1
  },
  {
    "id":"fed9dbc068e140f7",
    "type":"websocket-listener",
    "path":"ws://10.10.2.15:1880/test",
    "wholemsg":"false"
  },
  {
    "id":"9c32d3f398375b16",
    "type":"http request",
    "z":"ef55c00613a0f0a1",
    "name":"最新版本",
    "method":"GET",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"https://ota.maa.plus/MaaAssistantArknights/api/version/summary.json",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"",
    "senderr":false,
    "headers":[ ],
    "x":200,
    "y":80,
    "wires":[
      [
        "4cfce582054606e7"
      ]
    ]
  },
  {
    "id":"453151be1d85f36c",
    "type":"http request",
    "z":"ef55c00613a0f0a1",
    "name":"版本详情",
    "method":"GET",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"",
    "senderr":false,
    "headers":[ ],
    "x":720,
    "y":80,
    "wires":[
      [
        "bd526589a9b45396"
      ]
    ]
  },
  {
    "id":"4cfce582054606e7",
    "type":"json",
    "z":"ef55c00613a0f0a1",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":370,
    "y":80,
    "wires":[
      [
        "5024d983e65b0261"
      ]
    ]
  },
  {
    "id":"5024d983e65b0261",
    "type":"function",
    "z":"ef55c00613a0f0a1",
    "name":"版本详情",
    "func":"let branch = global.get(\"branch\")\nif(branch == null){\n    branch = \"stable\"\n}\nmsg.url = msg.payload[branch].detail\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":540,
    "y":80,
    "wires":[
      [
        "453151be1d85f36c"
      ]
    ]
  },
  {
    "id":"bd526589a9b45396",
    "type":"json",
    "z":"ef55c00613a0f0a1",
    "name":"",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":890,
    "y":80,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"e19f045e0d425f7e",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":260,
    "wires":[
      [
        "fbfb16b1cd33513d",
        "99592412b924acda"
      ]
    ]
  },
  {
    "id":"033ae7979fbc6a6c",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":800,
    "wires":[
      [
        "f7b28c0b941eb5ab",
        "2a70b6a7904ecaaf"
      ]
    ]
  },
  {
    "id":"89d03213357a396e",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"唤醒",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\n\nconst type = \"StartUp\"\nconst params = JSON.stringify({\n    \"client_type\": \"Official\",\n    \"start_game_enabled\": true\n})\n\nmsg.topic = \"AppendTask\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":260,
    "wires":[
      [
        "e19f045e0d425f7e"
      ]
    ]
  },
  {
    "id":"48b0917c53de3a5c",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"开始",
    "func":"// 任务类型\nmsg.topic = \"Start\"\n\nconst uuid = global.get(\"uuid\")\n\nmsg.payload = {\n    \"uuid\": uuid\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":800,
    "wires":[
      [
        "033ae7979fbc6a6c"
      ]
    ]
  },
  {
    "id":"f7b28c0b941eb5ab",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"开始",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":780,
    "wires":[ ]
  },
  {
    "id":"fbfb16b1cd33513d",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"唤醒",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":240,
    "wires":[ ]
  },
  {
    "id":"f8f07ba8719ede5a",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":200,
    "wires":[
      [
        "74857ad5a5b7c0e8",
        "2707245ec178a65d"
      ]
    ]
  },
  {
    "id":"9433618e649fb6ed",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"连接",
    "func":"const uuid = global.get(\"uuid\")\nconst adb_path = global.get(\"adbPath\")\nconst address = global.get(\"address\")\nconst config = {}\n\nmsg.topic = \"Connect\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"adbPath\": adb_path,\n    \"address\": address\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":200,
    "wires":[
      [
        "f8f07ba8719ede5a"
      ]
    ]
  },
  {
    "id":"74857ad5a5b7c0e8",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"连接",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":180,
    "wires":[ ]
  },
  {
    "id":"2707245ec178a65d",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 2",
    "mode":"link",
    "links":[
      "ba9252f2d95c5f79"
    ],
    "x":435,
    "y":200,
    "wires":[ ]
  },
  {
    "id":"99592412b924acda",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 3",
    "mode":"link",
    "links":[
      "c301079632a80db0"
    ],
    "x":435,
    "y":260,
    "wires":[ ]
  },
  {
    "id":"ba9252f2d95c5f79",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 2",
    "links":[
      "2707245ec178a65d"
    ],
    "x":85,
    "y":260,
    "wires":[
      [
        "89d03213357a396e"
      ]
    ]
  },
  {
    "id":"6f427beecb20b7b7",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 3",
    "links":[
      "b2b08210a2011748"
    ],
    "x":85,
    "y":800,
    "wires":[
      [
        "48b0917c53de3a5c"
      ]
    ]
  },
  {
    "id":"2a70b6a7904ecaaf",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 4",
    "mode":"link",
    "links":[ ],
    "x":435,
    "y":800,
    "wires":[ ]
  },
  {
    "id":"f03d41936424d07c",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":560,
    "wires":[
      [
        "eefafa83e36b46d7",
        "eb39dcaeafa9f006"
      ]
    ]
  },
  {
    "id":"6124a914192116bc",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"基建",
    "func":"// 添加任务\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Infrast\"\nconst facility = [\n    \"Mfg\", \"Trade\", \"Power\", \"Reception\", \"Office\", \"Dorm\"\n]\nconst params = JSON.stringify({\n    \"facility\": facility,\n    \"drones\": \"Money\",\n    \"replenish\": true,\n    \"dorm_trust_enabled\": true,\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"// 部署节点后，此处添加的代码将运行一次。 \n// \"_NotUse\"、\"Money\"、\"SyntheticJade\"、\"CombatRecord\"、\"PureGold\"、\"OriginStone\"、\"Chip\"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":560,
    "wires":[
      [
        "f03d41936424d07c"
      ]
    ]
  },
  {
    "id":"3ba69166c4460868",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":620,
    "wires":[
      [
        "74062179e1a6bc4b",
        "7080e20a834ae090"
      ]
    ]
  },
  {
    "id":"b203904ad6149c46",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":680,
    "wires":[
      [
        "17d77e4565bbc12e",
        "591d579b0cf9fdfd"
      ]
    ]
  },
  {
    "id":"20ab7aae2845c3ea",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"访问",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Visit\"\n\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":620,
    "wires":[
      [
        "3ba69166c4460868"
      ]
    ]
  },
  {
    "id":"46c71beb3f971da8",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"购物",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Mall\"\nconst buy_first = new Array(\n    \"招聘许可\", \"龙门币\"\n)\nconst blacklist = new Array(\n    \"家具\", \"碳\"\n)\nconst params = JSON.stringify({\n    \"shopping\": true,\n    \"visit_friends\": true,\n    \"buy_first\": buy_first,\n    \"blacklist\": blacklist\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":680,
    "wires":[
      [
        "b203904ad6149c46"
      ]
    ]
  },
  {
    "id":"9db95e20fef213cd",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 4",
    "links":[
      "be856ea0fbe5622f"
    ],
    "x":85,
    "y":560,
    "wires":[
      [
        "6124a914192116bc"
      ]
    ]
  },
  {
    "id":"eefafa83e36b46d7",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 5",
    "mode":"link",
    "links":[
      "e2a6c7069deed072"
    ],
    "x":435,
    "y":560,
    "wires":[ ]
  },
  {
    "id":"eb39dcaeafa9f006",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"基建",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":540,
    "wires":[ ]
  },
  {
    "id":"d46dcf84b8565dc5",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 5",
    "links":[ ],
    "x":85,
    "y":620,
    "wires":[
      [
        "20ab7aae2845c3ea"
      ]
    ]
  },
  {
    "id":"74062179e1a6bc4b",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 6",
    "mode":"link",
    "links":[ ],
    "x":435,
    "y":620,
    "wires":[ ]
  },
  {
    "id":"e2a6c7069deed072",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 6",
    "links":[
      "eefafa83e36b46d7"
    ],
    "x":85,
    "y":680,
    "wires":[
      [
        "46c71beb3f971da8"
      ]
    ]
  },
  {
    "id":"17d77e4565bbc12e",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 7",
    "mode":"link",
    "links":[
      "642e537314c6a03e"
    ],
    "x":435,
    "y":680,
    "wires":[ ]
  },
  {
    "id":"7080e20a834ae090",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"访问",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":600,
    "wires":[ ]
  },
  {
    "id":"591d579b0cf9fdfd",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"购物",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":660,
    "wires":[ ]
  },
  {
    "id":"50e26aabd7eebae5",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":740,
    "wires":[
      [
        "b2b08210a2011748",
        "cf6ac7f040219622"
      ]
    ]
  },
  {
    "id":"a7812eb136285b2c",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"奖励",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Award\"\n\nconst params = JSON.stringify({\n    \"enable\": true,\n    \"award\": true,\n    \"mail\": true,\n    \"recruit\": true,\n    \"orundum\": true,\n    \"mining\": true,\n    \"specialaccess\": true\n})\n\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":740,
    "wires":[
      [
        "50e26aabd7eebae5"
      ]
    ]
  },
  {
    "id":"642e537314c6a03e",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 7",
    "links":[
      "17d77e4565bbc12e"
    ],
    "x":85,
    "y":740,
    "wires":[
      [
        "a7812eb136285b2c"
      ]
    ]
  },
  {
    "id":"b2b08210a2011748",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 8",
    "mode":"link",
    "links":[
      "6f427beecb20b7b7",
      "a5c939a28746be65"
    ],
    "x":435,
    "y":740,
    "wires":[ ]
  },
  {
    "id":"cf6ac7f040219622",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"奖励",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":720,
    "wires":[ ]
  },
  {
    "id":"dbce1e0a6b14352e",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":320,
    "wires":[
      [
        "61e83dee565f5a28",
        "dc02c43c020521fb"
      ]
    ]
  },
  {
    "id":"dd0d8042e1bdfe51",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"战斗",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Fight\"\nconst params = JSON.stringify({\n    \"stage\": \"\",\n    \"report_to_penguin\": false,\n    \"medicine\": 0,\n    // \"penguin_id\":\"1234567\"\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":320,
    "wires":[
      [
        "dbce1e0a6b14352e"
      ]
    ]
  },
  {
    "id":"c301079632a80db0",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 8",
    "links":[
      "99592412b924acda",
      "0221355a23816f67",
      "68f8188aec629a25"
    ],
    "x":85,
    "y":320,
    "wires":[
      [
        "dd0d8042e1bdfe51"
      ]
    ]
  },
  {
    "id":"61e83dee565f5a28",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 9",
    "mode":"link",
    "links":[
      "8b50e3bc69d54ea3"
    ],
    "x":435,
    "y":320,
    "wires":[ ]
  },
  {
    "id":"dc02c43c020521fb",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"战斗",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":300,
    "wires":[ ]
  },
  {
    "id":"41abbee272a63fd9",
    "type":"inject",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"立即开始",
    "props":[
      {
        "p":"payload"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"",
    "payload":"",
    "payloadType":"date",
    "x":180,
    "y":140,
    "wires":[
      [
        "0136a408a73a7baa"
      ]
    ]
  },
  {
    "id":"940ad021cb7d8e04",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"公招",
    "func":"// 添加任务\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Recruit\"\nconst params = JSON.stringify({\n    \"refresh\": true,\n    \"select\": [3, 4, 5],\n    \"confirm\": [3, 4, 5],\n    \"times\": 2,\n    \"expedite\": false,\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":500,
    "wires":[
      [
        "8a125e39d652b0d4"
      ]
    ]
  },
  {
    "id":"8a125e39d652b0d4",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":500,
    "wires":[
      [
        "be856ea0fbe5622f",
        "be87bc1878fba0f8"
      ]
    ]
  },
  {
    "id":"0406f3c337c38695",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 15",
    "links":[
      "6bcd99c8e716e622"
    ],
    "x":85,
    "y":500,
    "wires":[
      [
        "940ad021cb7d8e04"
      ]
    ]
  },
  {
    "id":"be856ea0fbe5622f",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 15",
    "mode":"link",
    "links":[
      "9db95e20fef213cd"
    ],
    "x":435,
    "y":500,
    "wires":[ ]
  },
  {
    "id":"be87bc1878fba0f8",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"公招",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":480,
    "wires":[ ]
  },
  {
    "id":"99281c13c4e6c557",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":380,
    "wires":[
      [
        "ae9c55892f2ded21",
        "f8fe6d668ec50f44"
      ]
    ]
  },
  {
    "id":"801a5b60809a9702",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"战斗",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Fight\"\nconst params = JSON.stringify({\n    \"stage\": \"\",\n    \"report_to_penguin\": false,\n    \"medicine\": 0,\n    // \"penguin_id\":\"1234567\"\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":380,
    "wires":[
      [
        "99281c13c4e6c557"
      ]
    ]
  },
  {
    "id":"8b50e3bc69d54ea3",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 16",
    "links":[
      "61e83dee565f5a28"
    ],
    "x":85,
    "y":380,
    "wires":[
      [
        "801a5b60809a9702"
      ]
    ]
  },
  {
    "id":"ae9c55892f2ded21",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 16",
    "mode":"link",
    "links":[
      "adabc3b3e5c23a80"
    ],
    "x":435,
    "y":380,
    "wires":[ ]
  },
  {
    "id":"f8fe6d668ec50f44",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"战斗",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":360,
    "wires":[ ]
  },
  {
    "id":"971e9ad8dfe9f043",
    "type":"maa",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":330,
    "y":440,
    "wires":[
      [
        "6bcd99c8e716e622",
        "b613c2471d3bddd8"
      ]
    ]
  },
  {
    "id":"352ea78642c84f7d",
    "type":"function",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"战斗",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"Fight\"\nconst params = JSON.stringify({\n    \"stage\": \"\",\n    \"report_to_penguin\": false,\n    \"medicine\": 0,\n    // \"penguin_id\":\"1234567\"\n})\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":190,
    "y":440,
    "wires":[
      [
        "971e9ad8dfe9f043"
      ]
    ]
  },
  {
    "id":"adabc3b3e5c23a80",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 17",
    "links":[
      "ae9c55892f2ded21"
    ],
    "x":85,
    "y":440,
    "wires":[
      [
        "352ea78642c84f7d"
      ]
    ]
  },
  {
    "id":"6bcd99c8e716e622",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 17",
    "mode":"link",
    "links":[
      "0406f3c337c38695"
    ],
    "x":435,
    "y":440,
    "wires":[ ]
  },
  {
    "id":"b613c2471d3bddd8",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"战斗",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":420,
    "wires":[ ]
  },
  {
    "id":"5641575d93cc7b17",
    "type":"ui_button",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"开始任务",
    "group":"39e63e62c7bbb0f6",
    "order":5,
    "width":6,
    "height":1,
    "passthru":true,
    "label":"开始任务",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"",
    "payloadType":"date",
    "topic":"topic",
    "topicType":"msg",
    "x":340,
    "y":140,
    "wires":[
      [
        "0136a408a73a7baa",
        "0cd6f28ed89b52ce"
      ]
    ]
  },
  {
    "id":"7d4a42283a60452b",
    "type":"link in",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link in 23",
    "links":[
      "15fd9bcd61ae1cbe",
      "80c3f781223fb265",
      "7401d293f49c32fe"
    ],
    "x":85,
    "y":200,
    "wires":[
      [
        "9433618e649fb6ed"
      ]
    ]
  },
  {
    "id":"2769af71c6687b53",
    "type":"ui_time_scheduler",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "group":"c07d957e2ef6a0be",
    "name":"定时",
    "startDay":0,
    "refresh":60,
    "devices":[
      "定时任务"
    ],
    "singleOff":false,
    "onlySendChange":false,
    "customPayload":false,
    "eventMode":true,
    "eventOptions":[
      {
        "label":"On",
        "event":"true"
      },
      {
        "label":"Off",
        "event":"false"
      }
    ],
    "sendTopic":false,
    "lat":"37.86236",
    "lon":"113.58762",
    "customContextStore":"file",
    "outputs":2,
    "order":1,
    "width":6,
    "height":7,
    "x":190,
    "y":80,
    "wires":[
      [
        "27fcbd89b2dfb4b4"
      ],
      [
        "27fcbd89b2dfb4b4"
      ]
    ]
  },
  {
    "id":"c530f7f9af3d9b4c",
    "type":"comment",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"Maa流程",
    "info":"",
    "x":540,
    "y":80,
    "wires":[ ]
  },
  {
    "id":"27fcbd89b2dfb4b4",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 29",
    "mode":"link",
    "links":[
      "25f9282ca95fe463"
    ],
    "x":435,
    "y":80,
    "wires":[ ]
  },
  {
    "id":"0136a408a73a7baa",
    "type":"link out",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"link out 30",
    "mode":"link",
    "links":[
      "dc1f884f1b06d794",
      "25f9282ca95fe463"
    ],
    "x":435,
    "y":140,
    "wires":[ ]
  },
  {
    "id":"0cd6f28ed89b52ce",
    "type":"debug",
    "z":"18f8f72f97f001c1",
    "g":"7170d8140b1c71f8",
    "name":"测试",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":530,
    "y":120,
    "wires":[ ]
  },
  {
    "id":"8f1ec5a912ea6ec3",
    "type":"maa",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":450,
    "y":160,
    "wires":[
      [
        "a9eff220faee1dc8",
        "5585eef8c5f966fe"
      ]
    ]
  },
  {
    "id":"adfb6f1f6c6fc97a",
    "type":"inject",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"初始化",
    "props":[ ],
    "repeat":"",
    "crontab":"",
    "once":true,
    "onceDelay":"1",
    "topic":"",
    "x":140,
    "y":100,
    "wires":[
      [
        "f972a489f9103b19"
      ]
    ]
  },
  {
    "id":"a9eff220faee1dc8",
    "type":"debug",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"版本",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":650,
    "y":140,
    "wires":[ ]
  },
  {
    "id":"146d29e53e28ce2c",
    "type":"maa",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":450,
    "y":280,
    "wires":[
      [
        "e26de4468f6c6670",
        "a805063ba2650d69"
      ]
    ]
  },
  {
    "id":"6d14e77424baf4a9",
    "type":"maa",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":450,
    "y":400,
    "wires":[
      [
        "5ddbaeedcfe01bb3",
        "3ee9fd6abc861ab7"
      ]
    ]
  },
  {
    "id":"b601a6a4fec9cd3f",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"创建实例",
    "func":"msg.topic = \"Create\"\n\nlet address = global.get(\"address\")\nmsg.payload = {\n    \"address\": address\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":300,
    "y":280,
    "wires":[
      [
        "146d29e53e28ce2c"
      ]
    ]
  },
  {
    "id":"388d0a264a1d8d59",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"触控模式",
    "func":"const uuid = global.get(\"uuid\")\n\nmsg.topic = \"SetTouchMode\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"mode\": \"maatouch\"\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":300,
    "y":400,
    "wires":[
      [
        "6d14e77424baf4a9"
      ]
    ]
  },
  {
    "id":"e26de4468f6c6670",
    "type":"debug",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"实例uuid",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":660,
    "y":260,
    "wires":[ ]
  },
  {
    "id":"5ddbaeedcfe01bb3",
    "type":"debug",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"触控模式",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":660,
    "y":380,
    "wires":[ ]
  },
  {
    "id":"4fcb959196ecc086",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"加载资源",
    "func":"msg.topic = \"LoadResource\"\n\nlet maa_path = global.get(\"maaPath\")\nmsg.payload = {\n    \"maaPath\": maa_path\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":300,
    "y":220,
    "wires":[
      [
        "20d29989b4bbc793"
      ]
    ]
  },
  {
    "id":"20d29989b4bbc793",
    "type":"maa",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":450,
    "y":220,
    "wires":[
      [
        "285645d3cf7823ba",
        "14e11c7086d0845d"
      ]
    ]
  },
  {
    "id":"285645d3cf7823ba",
    "type":"debug",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"加载资源",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":660,
    "y":200,
    "wires":[ ]
  },
  {
    "id":"2b2e28b107931ef8",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"Maa版本",
    "func":"msg.topic = \"Version\"\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":300,
    "y":160,
    "wires":[
      [
        "8f1ec5a912ea6ec3"
      ]
    ]
  },
  {
    "id":"adc18ba1f9495706",
    "type":"link in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link in 9",
    "links":[
      "5585eef8c5f966fe"
    ],
    "x":185,
    "y":220,
    "wires":[
      [
        "4fcb959196ecc086"
      ]
    ]
  },
  {
    "id":"5585eef8c5f966fe",
    "type":"link out",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link out 10",
    "mode":"link",
    "links":[
      "adc18ba1f9495706"
    ],
    "x":555,
    "y":160,
    "wires":[ ]
  },
  {
    "id":"14e11c7086d0845d",
    "type":"link out",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link out 11",
    "mode":"link",
    "links":[
      "53bc838950eb8403",
      "1de4f2ad0f62966c"
    ],
    "x":555,
    "y":220,
    "wires":[ ]
  },
  {
    "id":"3b526c76656f2e6a",
    "type":"link in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link in 11",
    "links":[
      "875ed6582e86f617",
      "7cdfa1aa0af3ea13"
    ],
    "x":185,
    "y":400,
    "wires":[
      [
        "388d0a264a1d8d59"
      ]
    ]
  },
  {
    "id":"a805063ba2650d69",
    "type":"link out",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link out 12",
    "mode":"link",
    "links":[
      "161e7765fce8e85e",
      "96074d4863074cf8"
    ],
    "x":555,
    "y":280,
    "wires":[ ]
  },
  {
    "id":"3ee9fd6abc861ab7",
    "type":"link out",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link out 13",
    "mode":"link",
    "links":[
      "d7f8f15732c8108b"
    ],
    "x":555,
    "y":400,
    "wires":[ ]
  },
  {
    "id":"1de4f2ad0f62966c",
    "type":"link in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link in 14",
    "links":[
      "0c23217d552af665",
      "14e11c7086d0845d"
    ],
    "x":185,
    "y":280,
    "wires":[
      [
        "b601a6a4fec9cd3f"
      ]
    ]
  },
  {
    "id":"36a8d9fe02c6640e",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"配置信息",
    "func":"let address = \"10.10.1.5:5556\"\nlet maa_path = \"/data/env/maa\"\nlet maa_cache = maa_path + \"/cache\"\nlet maa_api = \"https://ota.maa.plus/MaaAssistantArknights/api/resource/tasks.json\"\nlet adb_path = \"/data/env/adb/adb\"\nlet touch_mode = \"maatouch\"\nlet containerId = msg.payload.replace(/\\n/g,\"\")\nlet scrcpyWebContainerName = \"ws-scrcpy\"\n\nlet config = {\n    \"address\": \"10.10.1.5:5556\",\n    \"maaPath\": maa_path,\n    \"maaCache\": maa_path + \"/cache\",\n    \"adbPath\": \"/data/env/adb/adb\",\n    \"touchMode\": \"maatouch\",\n    \"containerId\": containerId,\n    \"containerName\": \"NodeRedv2Beta2\",\n    \"scrcpyWebContainerName\": \"ws-scrcpy\",\n    \"maaApi\": \"https://ota.maa.plus/MaaAssistantArknights/api\",\n    \"arknightsUrl\": \"https://ak.hypergryph.com/downloads/android_lastest\"\n}\n\nglobal.set(\"address\",address)\nglobal.set(\"maaPath\",maa_path)\nglobal.set(\"maaCache\", maa_cache)\nglobal.set(\"maaApi\", maa_api)\nglobal.set(\"adbPath\",adb_path)\nglobal.set(\"touchMode\",touch_mode)\nglobal.set(\"scrcpyWebContainerName\",scrcpyWebContainerName)\nglobal.set(\"config\",config)\n\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":460,
    "y":100,
    "wires":[
      [
        "0d6b38865db0b019"
      ]
    ]
  },
  {
    "id":"0d6b38865db0b019",
    "type":"link out",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link out 28",
    "mode":"link",
    "links":[
      "0bad06f3eeb1f78c"
    ],
    "x":555,
    "y":100,
    "wires":[ ]
  },
  {
    "id":"0bad06f3eeb1f78c",
    "type":"link in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link in 24",
    "links":[
      "0d6b38865db0b019"
    ],
    "x":185,
    "y":160,
    "wires":[
      [
        "2b2e28b107931ef8"
      ]
    ]
  },
  {
    "id":"b3117f86deaa9fd6",
    "type":"comment",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"Maa初始化",
    "info":"",
    "x":660,
    "y":80,
    "wires":[ ]
  },
  {
    "id":"f4167976a1e0e9f5",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"存储uuid",
    "func":"global.set(\"uuid\",msg.payload.uuid)\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":300,
    "y":340,
    "wires":[
      [
        "7cdfa1aa0af3ea13"
      ]
    ]
  },
  {
    "id":"96074d4863074cf8",
    "type":"link in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link in 25",
    "links":[
      "a805063ba2650d69"
    ],
    "x":185,
    "y":340,
    "wires":[
      [
        "f4167976a1e0e9f5"
      ]
    ]
  },
  {
    "id":"7cdfa1aa0af3ea13",
    "type":"link out",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link out 31",
    "mode":"link",
    "links":[
      "3b526c76656f2e6a"
    ],
    "x":555,
    "y":340,
    "wires":[ ]
  },
  {
    "id":"02b0046221b0e889",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"下载命令",
    "func":"let maa_api = global.get(\"maaApi\")\nlet maa_cache = global.get(\"maaCache\")\nlet shell = \n\"wget \"\n+ maa_api\n+ \" -O \"\n+ maa_cache\n+ \"/resource/tasks.json\"\n\nmsg.payload = shell\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":300,
    "y":460,
    "wires":[
      [
        "899cf866e772aba1"
      ]
    ]
  },
  {
    "id":"899cf866e772aba1",
    "type":"exec",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "command":"",
    "addpay":"payload",
    "append":"",
    "useSpawn":"true",
    "timer":"",
    "winHide":false,
    "oldrc":false,
    "name":"Cache",
    "x":450,
    "y":460,
    "wires":[
      [ ],
      [ ],
      [
        "d627a8740844cb15",
        "d085056700617505"
      ]
    ]
  },
  {
    "id":"d627a8740844cb15",
    "type":"debug",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"状态码",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":650,
    "y":440,
    "wires":[ ]
  },
  {
    "id":"d7f8f15732c8108b",
    "type":"link in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link in 29",
    "links":[
      "3ee9fd6abc861ab7"
    ],
    "x":185,
    "y":460,
    "wires":[
      [
        "02b0046221b0e889"
      ]
    ]
  },
  {
    "id":"29b38d5363e5d9db",
    "type":"olfnf-folder-capture-in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "folder":"/data/env/maa/cache/resource",
    "folder_type":"str",
    "create_directory":true,
    "subfolder":false,
    "ignoreempty":true,
    "masks":"*.*",
    "masksregex":false,
    "name":"创建目录",
    "x":660,
    "y":320,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"f972a489f9103b19",
    "type":"file in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"主机名称",
    "filename":"/etc/hostname",
    "filenameType":"str",
    "format":"utf8",
    "chunk":false,
    "sendError":false,
    "encoding":"none",
    "allProps":false,
    "x":300,
    "y":100,
    "wires":[
      [
        "36a8d9fe02c6640e"
      ]
    ]
  },
  {
    "id":"ba32dddfbcaf9904",
    "type":"link in",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link in 54",
    "links":[
      "d085056700617505"
    ],
    "x":185,
    "y":520,
    "wires":[
      [
        "5da9acd6145a1437"
      ]
    ]
  },
  {
    "id":"d085056700617505",
    "type":"link out",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"link out 60",
    "mode":"link",
    "links":[
      "ba32dddfbcaf9904"
    ],
    "x":555,
    "y":460,
    "wires":[ ]
  },
  {
    "id":"5da9acd6145a1437",
    "type":"function",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"注册实例",
    "func":"let config = global.get(\"config\")\nmsg.payload = config.containerId;\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":300,
    "y":520,
    "wires":[
      [
        "200493a44665fe79"
      ]
    ]
  },
  {
    "id":"200493a44665fe79",
    "type":"http request",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"注册实例",
    "method":"POST",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"10.10.2.15:1880/instance/register",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"",
    "senderr":false,
    "headers":[ ],
    "x":460,
    "y":520,
    "wires":[
      [
        "5f5a0989e97292a5"
      ]
    ]
  },
  {
    "id":"5f5a0989e97292a5",
    "type":"debug",
    "z":"27cd9c6795b74945",
    "g":"e9d70c068473aa53",
    "name":"返回值",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":650,
    "y":500,
    "wires":[ ]
  },
  {
    "id":"644e4debf0e7edf8",
    "type":"inject",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"初始化",
    "props":[ ],
    "repeat":"",
    "crontab":"",
    "once":true,
    "onceDelay":0.1,
    "topic":"",
    "x":140,
    "y":2280,
    "wires":[
      [
        "99e1cb89f7c22266",
        "405c759c1dce813b",
        "2fd3d30abc3645f7",
        "ba76e872f4b734b4",
        "6e71aff110fe3035",
        "f6bf1628b496c1e9",
        "011a617bcc6d3d63"
      ]
    ]
  },
  {
    "id":"405c759c1dce813b",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"1.获取理智药配置",
    "func":"let medicineNum = flow.get(\"medicineNum\")\nif (medicineNum == undefined) {\n    flow.set(\"medicineNum\", 0)\n}\nmsg.payload = medicineNum\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":370,
    "y":2280,
    "wires":[
      [
        "5d7d1c81646b109e"
      ]
    ]
  },
  {
    "id":"5d7d1c81646b109e",
    "type":"ui_numeric",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"吃理智药数量",
    "label":"",
    "tooltip":"",
    "group":"61c4318a8cbb8ead",
    "order":2,
    "width":2,
    "height":1,
    "wrap":false,
    "passthru":false,
    "topic":"topic",
    "topicType":"msg",
    "format":"{{value}}",
    "min":0,
    "max":10,
    "step":1,
    "className":"",
    "x":580,
    "y":2280,
    "wires":[
      [
        "8be9b80dd007e299"
      ]
    ]
  },
  {
    "id":"3b50f5bf040a62ce",
    "type":"ui_numeric",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"吃源石数量",
    "label":"",
    "tooltip":"",
    "group":"61c4318a8cbb8ead",
    "order":3,
    "width":2,
    "height":1,
    "wrap":false,
    "passthru":false,
    "topic":"topic",
    "topicType":"msg",
    "format":"{{value}}",
    "min":0,
    "max":10,
    "step":1,
    "className":"",
    "x":570,
    "y":2340,
    "wires":[
      [
        "d04b3995334983c5"
      ]
    ]
  },
  {
    "id":"2cfabc9fdb999d1b",
    "type":"ui_numeric",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"指定次数",
    "label":"",
    "tooltip":"",
    "group":"61c4318a8cbb8ead",
    "order":4,
    "width":2,
    "height":1,
    "wrap":false,
    "passthru":false,
    "topic":"topic",
    "topicType":"msg",
    "format":"{{value}}",
    "min":0,
    "max":10,
    "step":1,
    "className":"",
    "x":560,
    "y":2400,
    "wires":[
      [
        "54b77163d8bb2296"
      ]
    ]
  },
  {
    "id":"99e1cb89f7c22266",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"获取战斗配置1-4",
    "func":"let medicine = flow.get(\"medicine\")\nif (medicine == undefined) {\n    medicine = {\n        \"title\": \"吃理智药\",\n        \"action\": \"medicine\",\n        \"isChecked\": false\n    }\n    flow.set(\"medicine\", medicine)\n}\n\nlet stone = flow.get(\"stone\")\nif (stone == undefined) {\n    stone = {\n        \"title\": \"吃源石*\",\n        \"action\": \"stone\",\n        \"isChecked\": false\n    }\n    flow.set(\"stone\", stone)\n}\n\nlet times = flow.get(\"times\")\nif (times == undefined) {\n    times = {\n        \"title\": \"指定次数\",\n        \"action\": \"times\",\n        \"isChecked\": false\n    }\n    flow.set(\"times\", times)\n}\n\nlet drops = flow.get(\"drops\")\nif (drops == undefined) {\n    drops = {\n        \"title\": \"指定材料\",\n        \"action\": \"drops\",\n        \"isChecked\": false\n    }\n    flow.set(\"drops\", drops)\n}\n\nmsg.payload = [medicine,stone,times,drops]\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":370,
    "y":2520,
    "wires":[
      [
        "dd976bad3c6d97e3"
      ]
    ]
  },
  {
    "id":"830fa9b1b52b6377",
    "type":"ui_dropdown",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"指定材料",
    "label":"",
    "tooltip":"",
    "place":"",
    "group":"61c4318a8cbb8ead",
    "order":5,
    "width":2,
    "height":1,
    "passthru":true,
    "multiple":false,
    "options":[
      {
        "label":"龙门币",
        "value":"CE-6",
        "type":"str"
      },
      {
        "label":"合成玉",
        "value":"合成玉",
        "type":"str"
      }
    ],
    "payload":"",
    "topic":"topic",
    "topicType":"msg",
    "className":"",
    "x":560,
    "y":2460,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"76b51925a280c386",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"更新上下文",
    "func":"const item = msg.payload\nconst key = item.action\nflow.set(key, item)\nmsg.payload=item\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":770,
    "y":2520,
    "wires":[
      [
        "99e1cb89f7c22266"
      ]
    ]
  },
  {
    "id":"2fd3d30abc3645f7",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"2.获取源石配置",
    "func":"let stoneNum = flow.get(\"stoneNum\")\nif (stoneNum == undefined) {\n    flow.set(\"stoneNum\", 0)\n}\nmsg.payload = stoneNum\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":360,
    "y":2340,
    "wires":[
      [
        "3b50f5bf040a62ce"
      ]
    ]
  },
  {
    "id":"ba76e872f4b734b4",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"3.获取次数配置",
    "func":"let timesNum = flow.get(\"timesNum\")\nif (timesNum == undefined) {\n    flow.set(\"timesNum\", 0)\n}\nmsg.payload = timesNum\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":360,
    "y":2400,
    "wires":[
      [
        "2cfabc9fdb999d1b"
      ]
    ]
  },
  {
    "id":"6e71aff110fe3035",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"4.获取指定材料配置",
    "func":"let dropItem = flow.get(\"dropItem\")\nif (dropItem == undefined) {\n    dropItem = {\n        \"30011\": 0\n    }\n    flow.set(\"dropItem\", dropItem)\n}\nmsg.payload = dropItem\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":380,
    "y":2460,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"d04b3995334983c5",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"更新上下文",
    "func":"const stoneNum = msg.payload\nflow.set(\"stoneNum\", stoneNum)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":770,
    "y":2340,
    "wires":[
      [
        "2fd3d30abc3645f7"
      ]
    ]
  },
  {
    "id":"54b77163d8bb2296",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"更新上下文",
    "func":"const timesNum = msg.payload\nflow.set(\"timesNum\", timesNum)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":770,
    "y":2400,
    "wires":[
      [
        "ba76e872f4b734b4"
      ]
    ]
  },
  {
    "id":"8be9b80dd007e299",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"更新上下文",
    "func":"const medicineNum = msg.payload\nflow.set(\"medicineNum\", medicineNum)\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":770,
    "y":2280,
    "wires":[
      [
        "405c759c1dce813b"
      ]
    ]
  },
  {
    "id":"e37ce2b4c084306a",
    "type":"ui_dropdown",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"关卡选择",
    "label":"关卡选择",
    "tooltip":"",
    "place":"",
    "group":"61c4318a8cbb8ead",
    "order":6,
    "width":6,
    "height":1,
    "passthru":false,
    "multiple":false,
    "options":[
      {
        "label":"当前/上次",
        "value":"\"\"",
        "type":"str"
      },
      {
        "label":"1-7",
        "value":"1-7",
        "type":"str"
      },
      {
        "label":"龙门币-6/5",
        "value":"CE-6/5",
        "type":"str"
      },
      {
        "label":"红票-5",
        "value":"AP-5",
        "type":"str"
      },
      {
        "label":"技能-5",
        "value":"技能-5",
        "type":"str"
      },
      {
        "label":"经验-6/5",
        "value":"经验-6/5",
        "type":"str"
      }
    ],
    "payload":"",
    "topic":"topic",
    "topicType":"msg",
    "className":"",
    "x":560,
    "y":2580,
    "wires":[
      [
        "f09b074477f3dfac"
      ]
    ]
  },
  {
    "id":"5a16e4774794812f",
    "type":"ui_dropdown",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"剩余理智",
    "label":"剩余理智",
    "tooltip":"",
    "place":"",
    "group":"61c4318a8cbb8ead",
    "order":7,
    "width":6,
    "height":1,
    "passthru":false,
    "multiple":false,
    "options":[
      {
        "label":"当前/上次",
        "value":"\"\"",
        "type":"str"
      },
      {
        "label":"1-7",
        "value":"1-7",
        "type":"str"
      },
      {
        "label":"龙门币-6/5",
        "value":"CE-6/5",
        "type":"str"
      },
      {
        "label":"红票-5",
        "value":"AP-5",
        "type":"str"
      },
      {
        "label":"技能-5",
        "value":"技能-5",
        "type":"str"
      },
      {
        "label":"经验-6/5",
        "value":"经验-6/5",
        "type":"str"
      }
    ],
    "payload":"",
    "topic":"topic",
    "topicType":"msg",
    "className":"",
    "x":560,
    "y":2640,
    "wires":[
      [
        "8b5263f596b2b28b"
      ]
    ]
  },
  {
    "id":"f6bf1628b496c1e9",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"5.获取关卡选择配置",
    "func":"let stage = flow.get(\"stage\")\nif (stage == undefined) {\n    stage = \"\"\n    flow.set(\"stage\", stage)\n}\nmsg.payload = stage\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":380,
    "y":2580,
    "wires":[
      [
        "e37ce2b4c084306a"
      ]
    ]
  },
  {
    "id":"011a617bcc6d3d63",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"6.获取剩余理智配置",
    "func":"let nextStage = flow.get(\"nextStage\")\nif (nextStage == undefined) {\n    nextStage = \"\"\n    flow.set(\"nextStage\", nextStage)\n}\nmsg.payload = nextStage\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":380,
    "y":2640,
    "wires":[
      [
        "5a16e4774794812f"
      ]
    ]
  },
  {
    "id":"f09b074477f3dfac",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"更新上下文",
    "func":"const stage = msg.payload\nflow.set(\"stage\", stage)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":770,
    "y":2580,
    "wires":[
      [
        "f6bf1628b496c1e9"
      ]
    ]
  },
  {
    "id":"8b5263f596b2b28b",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"更新上下文",
    "func":"const nextStage = msg.payload\nflow.set(\"nextStage\", nextStage)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":770,
    "y":2640,
    "wires":[
      [
        "011a617bcc6d3d63"
      ]
    ]
  },
  {
    "id":"dd147689b2940d10",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"更新上下文",
    "func":"const item = msg.payload\nconst key = item.action\nflow.set(key, item)\nmsg.payload=item\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":770,
    "y":2460,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"9542a8e19c53adec",
    "type":"comment",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "name":"刷理智配置",
    "info":"",
    "x":1000,
    "y":2260,
    "wires":[ ]
  },
  {
    "id":"dd976bad3c6d97e3",
    "type":"ui_list",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "group":"61c4318a8cbb8ead",
    "name":"战斗配置1-4",
    "order":1,
    "width":4,
    "height":4,
    "lineType":"one",
    "actionType":"switch",
    "allowHTML":false,
    "outputs":1,
    "topic":"",
    "x":570,
    "y":2520,
    "wires":[
      [
        "76b51925a280c386"
      ]
    ]
  },
  {
    "id":"2d8bd630cdc2aae7",
    "type":"ui_list",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "group":"39e63e62c7bbb0f6",
    "name":"任务框",
    "order":1,
    "width":4,
    "height":8,
    "lineType":"one",
    "actionType":"click",
    "allowHTML":false,
    "outputs":1,
    "topic":"",
    "x":530,
    "y":780,
    "wires":[
      [
        "388694307ac0b921"
      ]
    ]
  },
  {
    "id":"7f4266f77ce8fd81",
    "type":"ui_toast",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "position":"top right",
    "displayTime":"3",
    "highlight":"",
    "sendall":false,
    "outputs":0,
    "ok":"OK",
    "cancel":"",
    "raw":false,
    "className":"",
    "topic":"",
    "name":"配置弹窗",
    "x":680,
    "y":1020,
    "wires":[ ]
  },
  {
    "id":"4837af15506ff65b",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"弹窗内容",
    "func":"// 更新上下文\nlet item = msg.payload\nlet key = item.action\nglobal.set(key, item)\n\n// 凭借弹窗内容\nlet actionName = msg.payload.actionName\nlet state = msg.payload.isChecked == true ?\"开启\":\"关闭\"\nmsg.payload = actionName + \" : \" + state\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":680,
    "y":840,
    "wires":[
      [
        "ac1cbfeab42f48a0"
      ]
    ]
  },
  {
    "id":"e65800f89a4602d2",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"全选",
    "group":"39e63e62c7bbb0f6",
    "order":3,
    "width":3,
    "height":1,
    "passthru":false,
    "label":"全选",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":250,
    "y":900,
    "wires":[
      [
        "f413c0baf6126838"
      ]
    ]
  },
  {
    "id":"d7d7caa58c369151",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"清空",
    "group":"39e63e62c7bbb0f6",
    "order":4,
    "width":3,
    "height":1,
    "passthru":false,
    "label":"清空",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":250,
    "y":960,
    "wires":[
      [
        "7f4965dce34a4667"
      ]
    ]
  },
  {
    "id":"54571cb70f3631e5",
    "type":"function",
    "z":"1a5d546ba115409f",
    "d":true,
    "g":"c07e4ff947e729d5",
    "name":"更新上下文",
    "func":"let item = msg.payload\nlet key = item.action\nflow.set(key, item)\nmsg.payload=item\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":950,
    "y":1020,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"35788f436794c3d3",
    "type":"ui_list",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "group":"39e63e62c7bbb0f6",
    "name":"复选框",
    "order":2,
    "width":2,
    "height":8,
    "lineType":"one",
    "actionType":"check",
    "allowHTML":false,
    "outputs":1,
    "topic":"",
    "x":530,
    "y":840,
    "wires":[
      [
        "4837af15506ff65b",
        "54571cb70f3631e5"
      ]
    ]
  },
  {
    "id":"5358b31b4c51aeff",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"获取复选框配置",
    "func":"let StartUp = flow.get(\"StartUp\")\nif (StartUp == undefined) {\n    StartUp = {\n        \"isChecked\": true,\n        \"actionName\": \"开始唤醒\",\n        \"action\": \"StartUp\"\n    }\n    flow.set(\"StartUp\", StartUp)\n}\nlet Fight = flow.get(\"Fight\")\nif (Fight == undefined) {\n    Fight = {\n        \"isChecked\": true,\n        \"actionName\": \"刷理智\",\n        \"action\": \"Fight\"\n    }\n    flow.set(\"Fight\", Fight)\n}\nlet Recruit = flow.get(\"Recruit\")\nif (Recruit == undefined) {\n    Recruit = {\n        \"isChecked\": true,\n        \"actionName\": \"自动公招\",\n        \"action\": \"Recruit\"\n    }\n    flow.set(\"Recruit\", Recruit)\n}\nlet Infrast = flow.get(\"Infrast\")\nif (Infrast == undefined) {\n    Infrast = {\n        \"isChecked\": true,\n        \"actionName\": \"基建换班\",\n        \"action\": \"Infrast\"\n    }\n    flow.set(\"Infrast\", Infrast)\n}\nlet Mall = flow.get(\"Mall\")\nif (Mall == undefined) {\n    Mall = {\n        \"isChecked\": true,\n        \"actionName\": \"访问/购物\",\n        \"action\": \"Mall\"\n    }\n    flow.set(\"Mall\", Mall)\n}\nlet Award = flow.get(\"Award\")\nif (Award == undefined) {\n    Award = {\n        \"isChecked\": true,\n        \"actionName\": \"领取奖励\",\n        \"action\": \"Award\"\n    }\n    flow.set(\"Award\", Award)\n}\nlet Roguelike = flow.get(\"Roguelike\")\nif (Roguelike == undefined) {\n    Roguelike = {\n        \"isChecked\": true,\n        \"actionName\": \"肉鸽\",\n        \"action\": \"Roguelike\"\n    }\n    flow.set(\"Roguelike\",Roguelike)\n}\nmsg.payload = [StartUp,Fight,Recruit,Infrast,Mall,Award,Roguelike]\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":360,
    "y":840,
    "wires":[
      [
        "35788f436794c3d3"
      ]
    ]
  },
  {
    "id":"1e21c3e028693f3d",
    "type":"inject",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"初始化",
    "props":[ ],
    "repeat":"",
    "crontab":"",
    "once":true,
    "onceDelay":0.1,
    "topic":"",
    "x":180,
    "y":720,
    "wires":[
      [
        "995ad13c474ba9de"
      ]
    ]
  },
  {
    "id":"f413c0baf6126838",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"全选",
    "func":"let StartUp = {\n    \"isChecked\": true,\n    \"actionName\": \"开始唤醒\",\n    \"action\": \"StartUp\"\n}\nflow.set(\"StartUp\", StartUp)\n\nlet Fight = {\n    \"isChecked\": true,\n    \"actionName\": \"刷理智\",\n    \"action\": \"Fight\"\n}\nflow.set(\"Fight\", Fight)\n\nlet Recruit = {\n    \"isChecked\": true,\n    \"actionName\": \"自动公招\",\n    \"action\": \"Recruit\"\n}\nflow.set(\"Recruit\", Recruit)\n\nlet Infrast = {\n    \"isChecked\": true,\n    \"actionName\": \"基建换班\",\n    \"action\": \"Infrast\"\n}\nflow.set(\"Infrast\", Infrast)\n\nlet Visit = {\n    \"isChecked\": true,\n    \"actionName\": \"访问\",\n    \"action\": \"Visit\"\n}\nflow.set(\"Visit\", Visit)\n\nlet Mall = {\n    \"isChecked\": true,\n    \"actionName\": \"购物\",\n    \"action\": \"Mall\"\n}\nflow.set(\"Mall\", Mall)\n\nlet Award = {\n    \"isChecked\": true,\n    \"actionName\": \"领取奖励\",\n    \"action\": \"Award\"\n}\nflow.set(\"Award\", Award)\n\nlet Roguelike = {\n    \"isChecked\": true,\n    \"actionName\": \"肉鸽\",\n    \"action\": \"Roguelike\"\n}\nflow.set(\"Roguelike\", Roguelike)\n\nmsg.payload = [StartUp,Fight,Recruit,Infrast,Visit,Mall,Award,Roguelike]\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":390,
    "y":900,
    "wires":[
      [
        "35788f436794c3d3",
        "d1969fab356cb5a6"
      ]
    ]
  },
  {
    "id":"7f4965dce34a4667",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"清空",
    "func":"let StartUp = {\n    \"isChecked\": false,\n    \"actionName\": \"开始唤醒\",\n    \"action\": \"StartUp\"\n}\nflow.set(\"StartUp\", StartUp)\n\nlet Fight = {\n    \"isChecked\": false,\n    \"actionName\": \"刷理智\",\n    \"action\": \"Fight\"\n}\nflow.set(\"Fight\", Fight)\n\nlet Recruit = {\n    \"isChecked\": false,\n    \"actionName\": \"自动公招\",\n    \"action\": \"Recruit\"\n}\nflow.set(\"Recruit\", Recruit)\n\nlet Infrast = {\n    \"isChecked\": false,\n    \"actionName\": \"基建换班\",\n    \"action\": \"Infrast\"\n}\nflow.set(\"Infrast\", Infrast)\n\nlet Visit = {\n    \"isChecked\": false,\n    \"actionName\": \"访问\",\n    \"action\": \"Visit\"\n}\nflow.set(\"Visit\", Visit)\n\nlet Mall = {\n    \"isChecked\": false,\n    \"actionName\": \"购物\",\n    \"action\": \"Mall\"\n}\nflow.set(\"Mall\", Mall)\n\nlet Award = {\n    \"isChecked\": false,\n    \"actionName\": \"领取奖励\",\n    \"action\": \"Award\"\n}\nflow.set(\"Award\", Award)\n\nlet Roguelike = {\n    \"isChecked\": false,\n    \"actionName\": \"肉鸽\",\n    \"action\": \"Roguelike\"\n}\nflow.set(\"Roguelike\", Roguelike)\n\nmsg.payload = [StartUp,Fight,Recruit,Infrast,Visit,Mall,Award,Roguelike]\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":390,
    "y":960,
    "wires":[
      [
        "35788f436794c3d3",
        "d15addf25fc40de7"
      ]
    ]
  },
  {
    "id":"d1969fab356cb5a6",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"全选弹窗",
    "func":"msg.payload = \"全选\"\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":680,
    "y":900,
    "wires":[
      [
        "cef2411748898530"
      ]
    ]
  },
  {
    "id":"d15addf25fc40de7",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"清空弹窗",
    "func":"msg.payload = \"清空\"\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":680,
    "y":960,
    "wires":[
      [
        "a96e7b1fbc622e28"
      ]
    ]
  },
  {
    "id":"5f6a8eb3bb5c4273",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"获取任务框配置",
    "func":"msg.payload = \n[\n    {\n        \"title\": \"开始唤醒\",\n        \"topic\": \"任务_开始唤醒配置\",\n        \"icon_name\": \"fa-cog\"\n    },\n    {\n        \"title\": \"刷理智\",\n        \"topic\": \"任务_刷理智配置\",\n        \"icon_name\": \"fa-cog\"\n    },\n    {\n        \"title\": \"自动公招\",\n        \"icon_name\": \"fa-cog\"\n    },\n    {\n        \"title\": \"基建换班\",\n        \"icon_name\": \"fa-cog\"\n    },\n    {\n        \"title\": \"访问/购物\",\n        \"icon_name\": \"fa-cog\"\n    },\n    {\n        \"title\": \"领取奖励\",\n        \"icon_name\": \"fa-cog\"\n    },\n    {\n        \"title\": \"自动肉鸽\",\n        \"icon_name\": \"fa-cog\"\n    }\n]\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":360,
    "y":780,
    "wires":[
      [
        "2d8bd630cdc2aae7"
      ]
    ]
  },
  {
    "id":"eb264209dad349b7",
    "type":"comment",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"基础配置",
    "info":"",
    "x":960,
    "y":720,
    "wires":[ ]
  },
  {
    "id":"a22461f77c2f2a69",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"画面展示",
    "func":"let ui = flow.get(\"ui\")\nif (ui == undefined) {\n    ui = true\n    flow.set(\"ui\", ui)\n}\nmsg.payload = ui\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":340,
    "y":340,
    "wires":[
      [
        "a39ec8110e5ae4b2"
      ]
    ]
  },
  {
    "id":"bb664703f5b54148",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"更新上下文",
    "func":"const ui = msg.payload\nflow.set(\"ui\", ui)\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":670,
    "y":340,
    "wires":[
      [
        "601db3e0c56d27d4"
      ]
    ]
  },
  {
    "id":"daeeb392990f06f0",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"定时任务",
    "func":"let scheduler = flow.get(\"scheduler\")\nif (scheduler == undefined) {\n    scheduler = true\n    flow.set(\"scheduler\", true)\n}\nmsg.payload = scheduler\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":340,
    "y":400,
    "wires":[
      [
        "5dbea8ab0bc79f38"
      ]
    ]
  },
  {
    "id":"9a54b1e0a1e452c4",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"基础配置",
    "func":"let standard = flow.get(\"standard\")\nif (standard == undefined) {\n    standard = true\n    flow.set(\"standard\", standard)\n}\nmsg.payload = standard\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":340,
    "y":460,
    "wires":[
      [
        "9677456af8b5e930"
      ]
    ]
  },
  {
    "id":"c5edbfeec5f6a5d4",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"更新上下文",
    "func":"const scheduler = msg.payload\nflow.set(\"scheduler\", scheduler)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":670,
    "y":400,
    "wires":[
      [
        "8a5f74f9ec8ffed2"
      ]
    ]
  },
  {
    "id":"5a5fc7566ec60369",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"更新上下文",
    "func":"const standard = msg.payload\nflow.set(\"standard\", standard)\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":670,
    "y":460,
    "wires":[
      [
        "104f5dd2123f06b2"
      ]
    ]
  },
  {
    "id":"a39ec8110e5ae4b2",
    "type":"ui_switch",
    "z":"1a5d546ba115409f",
    "d":true,
    "g":"19f278ab332c63e5",
    "name":"画面展示",
    "label":"画面展示",
    "tooltip":"",
    "group":"b5eea0068874b32c",
    "order":1,
    "width":6,
    "height":1,
    "passthru":true,
    "decouple":"false",
    "topic":"Maa_画面展示",
    "topicType":"str",
    "style":"",
    "onvalue":"true",
    "onvalueType":"bool",
    "onicon":"",
    "oncolor":"",
    "offvalue":"false",
    "offvalueType":"bool",
    "officon":"",
    "offcolor":"",
    "animate":false,
    "className":"",
    "x":500,
    "y":340,
    "wires":[
      [
        "bb664703f5b54148"
      ]
    ]
  },
  {
    "id":"5dbea8ab0bc79f38",
    "type":"ui_switch",
    "z":"1a5d546ba115409f",
    "d":true,
    "g":"19f278ab332c63e5",
    "name":"定时任务",
    "label":"定时任务",
    "tooltip":"",
    "group":"b5eea0068874b32c",
    "order":2,
    "width":6,
    "height":1,
    "passthru":true,
    "decouple":"false",
    "topic":"Maa_定时任务配置",
    "topicType":"str",
    "style":"",
    "onvalue":"true",
    "onvalueType":"bool",
    "onicon":"",
    "oncolor":"",
    "offvalue":"false",
    "offvalueType":"bool",
    "officon":"",
    "offcolor":"",
    "animate":false,
    "className":"",
    "x":500,
    "y":400,
    "wires":[
      [
        "c5edbfeec5f6a5d4"
      ]
    ]
  },
  {
    "id":"9677456af8b5e930",
    "type":"ui_switch",
    "z":"1a5d546ba115409f",
    "d":true,
    "g":"19f278ab332c63e5",
    "name":"基础配置",
    "label":"基础配置",
    "tooltip":"",
    "group":"b5eea0068874b32c",
    "order":3,
    "width":6,
    "height":1,
    "passthru":true,
    "decouple":"false",
    "topic":"Maa_基础配置",
    "topicType":"str",
    "style":"",
    "onvalue":"true",
    "onvalueType":"bool",
    "onicon":"",
    "oncolor":"",
    "offvalue":"false",
    "offvalueType":"bool",
    "officon":"",
    "offcolor":"",
    "animate":false,
    "className":"",
    "x":500,
    "y":460,
    "wires":[
      [
        "5a5fc7566ec60369"
      ]
    ]
  },
  {
    "id":"ae6f87b3f7f3ac74",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"存储分支",
    "func":"let branch = msg.payload\nglobal.set(\"branch\",branch)\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":660,
    "y":220,
    "wires":[
      [
        "c7db8cf6d0709b23"
      ]
    ]
  },
  {
    "id":"33bbc37a093b2836",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"版本分支",
    "func":"let branch = global.get(\"branch\")\nif (branch == undefined){\n    branch = \"stable\" \n    global.set(\"branch\")\n}\nmsg.payload = branch\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":340,
    "y":220,
    "wires":[
      [
        "2b672daa1013d1ab"
      ]
    ]
  },
  {
    "id":"2b672daa1013d1ab",
    "type":"ui_multistate_switch",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"版本分支",
    "group":"b5eea0068874b32c",
    "order":4,
    "width":6,
    "height":1,
    "label":"版本分支",
    "stateField":"payload",
    "enableField":"enable",
    "passthroughField":"passthrough",
    "inputMsgField":"inputmsg",
    "rounded":false,
    "useThemeColors":true,
    "hideSelectedLabel":false,
    "multilineLabel":false,
    "passThrough":"change",
    "inputMsg":"all",
    "userInput":"enabled_show",
    "options":[
      {
        "label":"稳定版",
        "value":"stable",
        "valueType":"str",
        "color":"#ff6666"
      },
      {
        "label":"公测版",
        "value":"beta",
        "valueType":"str",
        "color":"#999999"
      },
      {
        "label":"内测版",
        "value":"alpha",
        "valueType":"str",
        "color":"#009933"
      }
    ],
    "topic":"",
    "x":500,
    "y":220,
    "wires":[
      [
        "ae6f87b3f7f3ac74"
      ]
    ]
  },
  {
    "id":"0702cad74f89b9ba",
    "type":"http request",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"获取版本",
    "method":"GET",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"https://ota.maa.plus/MaaAssistantArknights/api/version/summary.json",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"",
    "senderr":false,
    "headers":[ ],
    "x":340,
    "y":280,
    "wires":[
      [
        "bcfa0c7118017791"
      ]
    ]
  },
  {
    "id":"bcfa0c7118017791",
    "type":"json",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"Json对象",
    "property":"payload",
    "action":"",
    "pretty":false,
    "x":500,
    "y":280,
    "wires":[
      [
        "d706bb734d21c653"
      ]
    ]
  },
  {
    "id":"d706bb734d21c653",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"获取版本",
    "func":"let branch = global.get(\"branch\")\nif (branch == undefined){\n    branch = \"stable\"\n}\nmsg.payload = msg.payload[branch].version\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":660,
    "y":280,
    "wires":[
      [
        "42e4ba822e58a25b"
      ]
    ]
  },
  {
    "id":"e4baab51b2bc5811",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link in 18",
    "links":[
      "26b220ad8028588f",
      "025f8bd4f7e61f22",
      "c7db8cf6d0709b23"
    ],
    "x":225,
    "y":280,
    "wires":[
      [
        "0702cad74f89b9ba"
      ]
    ]
  },
  {
    "id":"42e4ba822e58a25b",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "group":"b5eea0068874b32c",
    "order":6,
    "width":6,
    "height":1,
    "name":"最新版本",
    "label":"最新版本",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":820,
    "y":280,
    "wires":[ ]
  },
  {
    "id":"c7db8cf6d0709b23",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 23",
    "mode":"link",
    "links":[
      "e4baab51b2bc5811"
    ],
    "x":795,
    "y":220,
    "wires":[ ]
  },
  {
    "id":"7345e7665002b2e5",
    "type":"inject",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"初始化",
    "props":[ ],
    "repeat":"",
    "crontab":"",
    "once":true,
    "onceDelay":0.1,
    "topic":"",
    "x":180,
    "y":100,
    "wires":[
      [
        "f3578fe1ff1cc7dc"
      ]
    ]
  },
  {
    "id":"e4fd5627159f21ad",
    "type":"maa",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":490,
    "y":160,
    "wires":[
      [
        "f2db99b377a8d8c6"
      ]
    ]
  },
  {
    "id":"73323e09071922c2",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"当前版本",
    "func":"msg.topic = \"Version\"\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":340,
    "y":160,
    "wires":[
      [
        "e4fd5627159f21ad"
      ]
    ]
  },
  {
    "id":"f2db99b377a8d8c6",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "group":"b5eea0068874b32c",
    "order":5,
    "width":6,
    "height":1,
    "name":"",
    "label":"当前版本",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":660,
    "y":160,
    "wires":[ ]
  },
  {
    "id":"40dcdda4706ac54a",
    "type":"comment",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"总配置",
    "info":"",
    "x":830,
    "y":60,
    "wires":[ ]
  },
  {
    "id":"f3578fe1ff1cc7dc",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 32",
    "mode":"link",
    "links":[
      "3ee61296a7190f21",
      "807d7cecb2c1fea5",
      "652f577477c587d5",
      "8bd7e3cfea1956df",
      "f4362da5694f1ae2",
      "e498477866b23d5a"
    ],
    "x":795,
    "y":100,
    "wires":[ ]
  },
  {
    "id":"3ee61296a7190f21",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link in 27",
    "links":[
      "f3578fe1ff1cc7dc"
    ],
    "x":225,
    "y":160,
    "wires":[
      [
        "73323e09071922c2"
      ]
    ]
  },
  {
    "id":"807d7cecb2c1fea5",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link in 28",
    "links":[
      "f3578fe1ff1cc7dc"
    ],
    "x":225,
    "y":220,
    "wires":[
      [
        "33bbc37a093b2836"
      ]
    ]
  },
  {
    "id":"8bd7e3cfea1956df",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link in 44",
    "links":[
      "f3578fe1ff1cc7dc"
    ],
    "x":225,
    "y":340,
    "wires":[
      [
        "a22461f77c2f2a69"
      ]
    ]
  },
  {
    "id":"f4362da5694f1ae2",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link in 45",
    "links":[
      "f3578fe1ff1cc7dc"
    ],
    "x":225,
    "y":400,
    "wires":[
      [
        "daeeb392990f06f0"
      ]
    ]
  },
  {
    "id":"e498477866b23d5a",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link in 46",
    "links":[
      "f3578fe1ff1cc7dc"
    ],
    "x":225,
    "y":460,
    "wires":[
      [
        "9a54b1e0a1e452c4"
      ]
    ]
  },
  {
    "id":"601db3e0c56d27d4",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 47",
    "mode":"link",
    "links":[
      "d0d37cf654c6ce09"
    ],
    "x":795,
    "y":340,
    "wires":[ ]
  },
  {
    "id":"8a5f74f9ec8ffed2",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 48",
    "mode":"link",
    "links":[
      "d0d37cf654c6ce09"
    ],
    "x":795,
    "y":400,
    "wires":[ ]
  },
  {
    "id":"104f5dd2123f06b2",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 49",
    "mode":"link",
    "links":[
      "d0d37cf654c6ce09"
    ],
    "x":795,
    "y":460,
    "wires":[ ]
  },
  {
    "id":"fb58d04398a83e4f",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"画面显示",
    "group":"7cc13ba53403d300",
    "order":2,
    "width":5,
    "height":1,
    "passthru":false,
    "label":"画面显示",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"画面显示",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":1280,
    "y":780,
    "wires":[
      [
        "897ea81ae22090e2"
      ]
    ]
  },
  {
    "id":"897ea81ae22090e2",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"link out 33",
    "mode":"link",
    "links":[
      "652f577477c587d5"
    ],
    "x":1395,
    "y":780,
    "wires":[ ]
  },
  {
    "id":"49722c258ef38c9b",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"画面横屏",
    "group":"7cc13ba53403d300",
    "order":3,
    "width":5,
    "height":1,
    "passthru":false,
    "label":"画面横屏",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":1280,
    "y":840,
    "wires":[
      [
        "d03276d6356cdfbc"
      ]
    ]
  },
  {
    "id":"d03276d6356cdfbc",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"link out 42",
    "mode":"link",
    "links":[
      "bac42d79f12711a4"
    ],
    "x":1395,
    "y":840,
    "wires":[ ]
  },
  {
    "id":"a7798a9d05b54d29",
    "type":"ui_iframe",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "group":"7cc13ba53403d300",
    "name":"实例画面",
    "order":1,
    "width":10,
    "height":5,
    "url":"http://127.0.0.1:8000/#!action=stream&udid=10.10.1.5%3A5556&player=webcodecs&ws=ws%3A%2F%2F127.0.0.1%3A8000%2F%3Faction%3Dproxy-adb%26remote%3Dtcp%253A8886%26udid%3D10.10.1.5%253A5556",
    "origin":"*",
    "scale":100,
    "x":1840,
    "y":860,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"a43de00f9c8bf7ad",
    "type":"ui_dropdown",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"客户端类型",
    "label":"",
    "tooltip":"",
    "place":"客户端类型",
    "group":"e2fdae501bd3d137",
    "order":4,
    "width":0,
    "height":0,
    "passthru":false,
    "multiple":false,
    "options":[
      {
        "label":"官服",
        "value":"Official",
        "type":"str"
      },
      {
        "label":"Bilibili服",
        "value":"Bilibili",
        "type":"str"
      },
      {
        "label":"国际服",
        "value":"English",
        "type":"str"
      },
      {
        "label":"日服",
        "value":"Japan",
        "type":"str"
      },
      {
        "label":"韩服",
        "value":"Korea",
        "type":"str"
      },
      {
        "label":"繁中服（txwy）",
        "value":"txwy",
        "type":"str"
      }
    ],
    "payload":"",
    "topic":"topic",
    "topicType":"msg",
    "className":"",
    "x":550,
    "y":2840,
    "wires":[
      [
        "d71479d25dd194e5"
      ]
    ]
  },
  {
    "id":"d2eb70051afde3a1",
    "type":"ui_multistate_switch",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"触控模式",
    "group":"e2fdae501bd3d137",
    "order":6,
    "width":0,
    "height":0,
    "label":"",
    "stateField":"payload",
    "enableField":"enable",
    "passthroughField":"passthrough",
    "inputMsgField":"inputmsg",
    "rounded":false,
    "useThemeColors":true,
    "hideSelectedLabel":false,
    "multilineLabel":false,
    "passThrough":"never",
    "inputMsg":"all",
    "userInput":"enabled_show",
    "options":[
      {
        "label":" MiniTouch ",
        "value":"minitouch",
        "valueType":"str",
        "color":"#009933"
      },
      {
        "label":" MaaTouch ",
        "value":"maatouch",
        "valueType":"str",
        "color":"#999999"
      },
      {
        "label":" ADB Input ",
        "value":"adb",
        "valueType":"str",
        "color":"#ff6666"
      }
    ],
    "topic":"",
    "x":540,
    "y":2940,
    "wires":[
      [
        "790f14135b2a03a8"
      ]
    ]
  },
  {
    "id":"fe6d934df1e7f389",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "group":"e2fdae501bd3d137",
    "order":3,
    "width":0,
    "height":0,
    "name":"客户端类型",
    "label":"客户端类型：",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":550,
    "y":2800,
    "wires":[ ]
  },
  {
    "id":"6f6263d9f18e88af",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "group":"e2fdae501bd3d137",
    "order":5,
    "width":0,
    "height":0,
    "name":"触控模式",
    "label":"触控模式：",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":540,
    "y":2900,
    "wires":[ ]
  },
  {
    "id":"a8a1daa17fb63f0b",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "group":"e2fdae501bd3d137",
    "order":1,
    "width":0,
    "height":0,
    "name":"账号切换",
    "label":"账号切换：",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":540,
    "y":3000,
    "wires":[ ]
  },
  {
    "id":"5eed8b6eec081ed8",
    "type":"ui_text_input",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"账号切换",
    "label":"",
    "tooltip":"",
    "group":"e2fdae501bd3d137",
    "order":2,
    "width":6,
    "height":1,
    "passthru":true,
    "mode":"text",
    "delay":300,
    "topic":"topic",
    "sendOnBlur":true,
    "className":"",
    "topicType":"msg",
    "x":540,
    "y":3040,
    "wires":[
      [
        "2874a2dcf72db5ee"
      ]
    ]
  },
  {
    "id":"26b38c03242c9aa6",
    "type":"inject",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"初始化",
    "props":[ ],
    "repeat":"",
    "crontab":"",
    "once":true,
    "onceDelay":0.1,
    "topic":"",
    "x":140,
    "y":2840,
    "wires":[
      [
        "01ca2d5475562ddd",
        "679462c9014717cf",
        "8ec0b36b50628ea7"
      ]
    ]
  },
  {
    "id":"01ca2d5475562ddd",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"获取触控模式",
    "func":"let TouchMode = flow.get(\"TouchMode\")\nif (TouchMode == undefined){\n    TouchMode = \"maatouch\"\n    flow.set(\"TouchMode\",TouchMode)\n}\nmsg.payload = TouchMode\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":360,
    "y":2940,
    "wires":[
      [
        "d2eb70051afde3a1"
      ]
    ]
  },
  {
    "id":"679462c9014717cf",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"获取客户端类型",
    "func":"let ClientType = flow.get(\"ClientType\")\nif (ClientType == undefined){\n    ClientType = \"Official\" \n    flow.set(\"ClientType\",ClientType)\n}\nmsg.payload = ClientType\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":360,
    "y":2840,
    "wires":[
      [
        "a43de00f9c8bf7ad"
      ]
    ]
  },
  {
    "id":"d71479d25dd194e5",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"更新上下文",
    "func":"const ClientType = msg.payload\nflow.set(\"ClientType\", ClientType)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":730,
    "y":2840,
    "wires":[
      [
        "679462c9014717cf"
      ]
    ]
  },
  {
    "id":"790f14135b2a03a8",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"更新上下文",
    "func":"const TouchMode = msg.payload\nflow.set(\"TouchMode\", TouchMode)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":730,
    "y":2940,
    "wires":[
      [
        "01ca2d5475562ddd"
      ]
    ]
  },
  {
    "id":"8ec0b36b50628ea7",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"获取切换账号",
    "func":"let ChageAccount = flow.get(\"ChageAccount\")\nif (ChageAccount == undefined){\n    ChageAccount = \"\"\n    flow.set(\"ChageAccount\",ChageAccount)\n}\nmsg.payload = ChageAccount\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":360,
    "y":3040,
    "wires":[
      [
        "5eed8b6eec081ed8"
      ]
    ]
  },
  {
    "id":"2874a2dcf72db5ee",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"更新上下文",
    "func":"const ChageAccount = msg.payload\nflow.set(\"ChageAccount\", ChageAccount)\nreturn msg;",
    "outputs":1,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":730,
    "y":3040,
    "wires":[
      [
        "8ec0b36b50628ea7"
      ]
    ]
  },
  {
    "id":"78ae4de323edaee4",
    "type":"comment",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "name":"开始唤醒配置",
    "info":"",
    "x":990,
    "y":2780,
    "wires":[ ]
  },
  {
    "id":"1575914d9f976ddc",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "g":"823eb5b938f853c0",
    "group":"e2fdae501bd3d137",
    "order":7,
    "width":6,
    "height":4,
    "name":"占位",
    "label":"",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":990,
    "y":2880,
    "wires":[ ]
  },
  {
    "id":"40a95f728818dff2",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "g":"cba701915d904c02",
    "group":"61c4318a8cbb8ead",
    "order":8,
    "width":6,
    "height":4,
    "name":"占位",
    "label":"",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":990,
    "y":2480,
    "wires":[ ]
  },
  {
    "id":"329e094cecbbd79e",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"更新日志",
    "group":"b5eea0068874b32c",
    "order":14,
    "width":3,
    "height":1,
    "passthru":false,
    "label":"更新日志",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"更新日志",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":280,
    "y":580,
    "wires":[
      [
        "89551e3b677c2274"
      ]
    ]
  },
  {
    "id":"ee8f992119b332a4",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"MAA更新",
    "group":"b5eea0068874b32c",
    "order":13,
    "width":3,
    "height":1,
    "passthru":false,
    "label":"MAA更新",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"更新",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":660,
    "y":520,
    "wires":[
      [
        "68164d21e8a682db"
      ]
    ]
  },
  {
    "id":"89551e3b677c2274",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 44",
    "mode":"link",
    "links":[
      "1b90e777afce8abb"
    ],
    "x":385,
    "y":580,
    "wires":[ ]
  },
  {
    "id":"68164d21e8a682db",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 45",
    "mode":"link",
    "links":[
      "0b3827d7ce88a4bf"
    ],
    "x":795,
    "y":520,
    "wires":[ ]
  },
  {
    "id":"4253a8ed466dbeee",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"服务重启",
    "group":"b5eea0068874b32c",
    "order":15,
    "width":3,
    "height":1,
    "passthru":true,
    "label":"服务重启",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":660,
    "y":580,
    "wires":[
      [
        "47eb70adf7b4d982"
      ]
    ]
  },
  {
    "id":"47eb70adf7b4d982",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link out 46",
    "mode":"link",
    "links":[
      "dfd2b720c3544999"
    ],
    "x":795,
    "y":580,
    "wires":[ ]
  },
  {
    "id":"f4c786669e1fb06c",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "name":"link in 32",
    "links":[
      "4c1b24a79a6bc8dc",
      "5131fce6ce8f8e6c",
      "691b69b356962df3",
      "f7660272499b275a"
    ],
    "x":225,
    "y":520,
    "wires":[
      [
        "c996ddbe276ace1e"
      ]
    ]
  },
  {
    "id":"b97bc1c0.cb899",
    "type":"ui_template",
    "z":"1a5d546ba115409f",
    "group":"c982fbb8.1deb38",
    "name":"工具栏时间",
    "order":2,
    "width":"0",
    "height":"0",
    "format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
    "storeOutMessages":false,
    "fwdInMessages":false,
    "resendOnRefresh":false,
    "templateScope":"global",
    "className":"",
    "x":1850,
    "y":660,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"3d5abc6e68f85aec",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"总配置画面控制",
    "func":"let topic = msg.topic\nlet state = msg.payload\nlet group = NaN\nif (true == state) {\n    group = {\n        \"show\": [\n            topic\n        ],\n        \"focus\": true        \n    };\n} else {\n    group = {\n        \"hide\": [\n            topic\n        ],\n        \"focus\": true\n    };\n}\n\nmsg.payload = {\n    \"group\": group,\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1140,
    "y":120,
    "wires":[
      [
        "9b30ef80f19fd407"
      ]
    ]
  },
  {
    "id":"ce69e46727bc52e0",
    "type":"ui_ui_control",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"",
    "events":"change",
    "x":1480,
    "y":120,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"d0d37cf654c6ce09",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"link in 47",
    "links":[
      "601db3e0c56d27d4",
      "8a5f74f9ec8ffed2",
      "104f5dd2123f06b2"
    ],
    "x":1005,
    "y":120,
    "wires":[
      [
        "3d5abc6e68f85aec"
      ]
    ]
  },
  {
    "id":"b667e29a33a26f14",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"基础配置画面控制",
    "func":"let hide = global.get(\"basicConfigShow\")\n\nlet show = msg.payload.topic\nlet group = {\n    \"show\": [\n        show\n    ],\n    \"hide\": [\n        hide\n    ],\n    \"focus\": true\n}\nglobal.set(\"basicConfigShow\",show)\nlet boolean = hide == show\nmsg.payload = {\n    \"group\": group,\n    \"boolean\": boolean\n}\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1150,
    "y":180,
    "wires":[
      [
        "d85110958fe1fb5a"
      ]
    ]
  },
  {
    "id":"d85110958fe1fb5a",
    "type":"switch",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"判断show/hide",
    "property":"payload.group.show[0]",
    "propertyType":"msg",
    "rules":[
      {
        "t":"neq",
        "v":"payload.group.hide[0]",
        "vt":"msg"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":1,
    "x":1360,
    "y":180,
    "wires":[
      [
        "5d1fafccdaf2cf04"
      ]
    ]
  },
  {
    "id":"388694307ac0b921",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link out 50",
    "mode":"link",
    "links":[
      "d24aeb2171b0c83b"
    ],
    "x":795,
    "y":780,
    "wires":[ ]
  },
  {
    "id":"d24aeb2171b0c83b",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"link in 48",
    "links":[
      "388694307ac0b921"
    ],
    "x":1005,
    "y":180,
    "wires":[
      [
        "b667e29a33a26f14"
      ]
    ]
  },
  {
    "id":"6e1bc3384a455afd",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"link in 49",
    "links":[
      "9b30ef80f19fd407",
      "5d1fafccdaf2cf04"
    ],
    "x":1355,
    "y":120,
    "wires":[
      [
        "ce69e46727bc52e0"
      ]
    ]
  },
  {
    "id":"5d1fafccdaf2cf04",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"link out 51",
    "mode":"link",
    "links":[
      "6e1bc3384a455afd"
    ],
    "x":1495,
    "y":180,
    "wires":[ ]
  },
  {
    "id":"9b30ef80f19fd407",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"link out 52",
    "mode":"link",
    "links":[
      "6e1bc3384a455afd"
    ],
    "x":1275,
    "y":120,
    "wires":[ ]
  },
  {
    "id":"617ba62ea84b785f",
    "type":"comment",
    "z":"1a5d546ba115409f",
    "g":"c916ff8489eb2b0c",
    "name":"UI控制",
    "info":"",
    "x":1470,
    "y":60,
    "wires":[ ]
  },
  {
    "id":"995ad13c474ba9de",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link out 53",
    "mode":"link",
    "links":[
      "2175ae77d8c29485",
      "57552969e1a4f204"
    ],
    "x":795,
    "y":720,
    "wires":[ ]
  },
  {
    "id":"2175ae77d8c29485",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link in 50",
    "links":[
      "995ad13c474ba9de"
    ],
    "x":225,
    "y":780,
    "wires":[
      [
        "5f6a8eb3bb5c4273"
      ]
    ]
  },
  {
    "id":"57552969e1a4f204",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link in 51",
    "links":[
      "995ad13c474ba9de"
    ],
    "x":225,
    "y":840,
    "wires":[
      [
        "5358b31b4c51aeff"
      ]
    ]
  },
  {
    "id":"ac1cbfeab42f48a0",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link out 54",
    "mode":"link",
    "links":[
      "4d487ee6c109bbe0"
    ],
    "x":795,
    "y":840,
    "wires":[ ]
  },
  {
    "id":"cef2411748898530",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link out 55",
    "mode":"link",
    "links":[
      "4d487ee6c109bbe0"
    ],
    "x":795,
    "y":900,
    "wires":[ ]
  },
  {
    "id":"a96e7b1fbc622e28",
    "type":"link out",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link out 56",
    "mode":"link",
    "links":[
      "4d487ee6c109bbe0"
    ],
    "x":795,
    "y":960,
    "wires":[ ]
  },
  {
    "id":"4d487ee6c109bbe0",
    "type":"link in",
    "z":"1a5d546ba115409f",
    "g":"c07e4ff947e729d5",
    "name":"link in 52",
    "links":[
      "ac1cbfeab42f48a0",
      "cef2411748898530",
      "a96e7b1fbc622e28"
    ],
    "x":225,
    "y":1020,
    "wires":[
      [
        "7f4266f77ce8fd81"
      ]
    ]
  },
  {
    "id":"627d690f.b388d8",
    "type":"inject",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"多条测试日志",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":"",
    "topic":"TestData",
    "payload":"[{\"time\":\"\",\"content\":\"日志1\"},{\"time\":\"\",\"content\":\"日志1\"},{\"time\":\"\",\"content\":\"日志1\"}]",
    "payloadType":"json",
    "x":1310,
    "y":1020,
    "wires":[
      [
        "eaa598b3b807cb97",
        "36197569.0e141a"
      ]
    ]
  },
  {
    "id":"eaa598b3b807cb97",
    "type":"debug",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"debug 8",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1840,
    "y":1020,
    "wires":[ ]
  },
  {
    "id":"36197569.0e141a",
    "type":"ui_template",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "group":"7cc13ba53403d300",
    "name":"运行日志",
    "order":4,
    "width":10,
    "height":4,
    "format":"<div ng-repeat=\"logs in msg.payload\">\n    <span>\n        {{logs.time}}&nbsp&nbsp&nbsp&nbsp{{logs.content}}\n    </span>\n</div>",
    "storeOutMessages":true,
    "fwdInMessages":true,
    "resendOnRefresh":false,
    "templateScope":"local",
    "className":"",
    "x":1840,
    "y":960,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"afb82a23dd1a9bef",
    "type":"function",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"Accumulate",
    "func":"if (msg.payload === false) {\n    var logs = [];\n} else {\n    // @ts-ignore\n    var logs = flow.get('jrnlLines') || [];\n    let log = {\n        \"time\": msg.myymd + \" \" + msg.mytimes,\n        \"content\": msg.payload\n    }\n    logs.unshift(log);\n    if (logs.length > 20) {\n        logs.pop();\n    }\n    // flow.set('jrnlLines', logs);\n}\nflow.set('jrnlLines', logs);\nmsg.payload = logs;\nmsg.topic = \"TestData\"\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1670,
    "y":960,
    "wires":[
      [
        "eaa598b3b807cb97",
        "36197569.0e141a"
      ]
    ]
  },
  {
    "id":"7cfeddce4267b08c",
    "type":"inject",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"清空日志",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":"",
    "topic":"",
    "payload":"false",
    "payloadType":"bool",
    "x":1300,
    "y":900,
    "wires":[
      [
        "afb82a23dd1a9bef"
      ]
    ]
  },
  {
    "id":"8f3d2d34e317991d",
    "type":"inject",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"单条测试日志",
    "props":[
      {
        "p":"payload"
      },
      {
        "p":"topic",
        "vt":"str"
      }
    ],
    "repeat":"",
    "crontab":"",
    "once":false,
    "onceDelay":0.1,
    "topic":"",
    "payload":"测试日志",
    "payloadType":"str",
    "x":1310,
    "y":960,
    "wires":[
      [
        "08098150732e4980"
      ]
    ]
  },
  {
    "id":"08098150732e4980",
    "type":"simpletime",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"",
    "mydate":false,
    "myymd":true,
    "myyear":false,
    "mymonth":false,
    "mymonthn":false,
    "mymonthf":true,
    "mydom":false,
    "mydoy":false,
    "myday":false,
    "mydayf":true,
    "myhourpm":false,
    "myhour":false,
    "mytime":false,
    "mytimes":true,
    "myminute":false,
    "myminutes":false,
    "mysecond":false,
    "mymillis":false,
    "myepoch":false,
    "myrawdate":false,
    "mypm":false,
    "x":1490,
    "y":960,
    "wires":[
      [
        "afb82a23dd1a9bef"
      ]
    ]
  },
  {
    "id":"f4ec4b245c7933c7",
    "type":"comment",
    "z":"1a5d546ba115409f",
    "g":"d79e4459c691dde5",
    "name":"画面/日志",
    "info":"",
    "x":1840,
    "y":780,
    "wires":[ ]
  },
  {
    "id":"a2bd0ee125ee8716",
    "type":"ui_text",
    "z":"1a5d546ba115409f",
    "d":true,
    "group":"b5eea0068874b32c",
    "order":8,
    "width":6,
    "height":1,
    "name":"",
    "label":"下载进度",
    "format":"{{msg.payload}}",
    "layout":"row-spread",
    "className":"",
    "style":false,
    "font":"",
    "fontSize":16,
    "color":"#000000",
    "x":1360,
    "y":560,
    "wires":[ ]
  },
  {
    "id":"c996ddbe276ace1e",
    "type":"ui_template",
    "z":"1a5d546ba115409f",
    "g":"19f278ab332c63e5",
    "group":"b5eea0068874b32c",
    "name":"下载进度",
    "order":7,
    "width":6,
    "height":1,
    "format":"<mycard style=\"left: 0px; top: 270px; width: 318px; height: 48px;\" layout=\"row\" layout-align=\"space-between center\" class=\"_md layout-row layout-align-space-between-center nr-dashboard-text nr-dashboard-widget-____ visible\" ng-class=\"[ me.item.safeLabel, {'nr-dashboard-disabled':me.item.disabled}, me.item.className]\">\n    <p class=\"label\">下载进度</p>\n    <progress value={{msg.payload.value}} text={{msg.payload.text}} max=100></progress>\n    <!-- <label>{{msg.payload}}%</label> -->\n</mycard>\n<style>\n    label {\n        font-weight: bold;\n    }\n    /* 进度条的默认样式 */\n    progress {\n    /* appearance: none; */\n        block-size: 2em;\n        display: flex;\n        justify-content: center;\n        align-items: center;\n        position: relative;\n        inline-size: 10em;\n        /* accent-color: #0094CE; */\n    }\n    progress:after {\n        content: attr(text);\n        font-size: 15px;\n        font-weight: bold;\n        position: absolute;\n        color: #111111;\n        top: 6px;\n        left: 50%;\n        transform: translateX(-50%);\n    }\n    .nr-dashboard-template {\n        padding: 0;\n    }\n    .nr-dashboard-template p {\n        margin-top: 0.1em;\n        margin-bottom: 0.1em;\n        margin-left: 0;\n        margin-right: 0.25em;\n    }\n</style>",
    "storeOutMessages":false,
    "fwdInMessages":false,
    "resendOnRefresh":true,
    "templateScope":"local",
    "className":"",
    "x":340,
    "y":520,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"03989e22b6ca1c47",
    "type":"ui_button",
    "z":"1a5d546ba115409f",
    "name":"游戏更新",
    "group":"b5eea0068874b32c",
    "order":16,
    "width":3,
    "height":1,
    "passthru":false,
    "label":"游戏更新",
    "tooltip":"",
    "color":"",
    "bgcolor":"",
    "className":"",
    "icon":"",
    "payload":"更新",
    "payloadType":"str",
    "topic":"topic",
    "topicType":"msg",
    "x":1020,
    "y":560,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"46386d0dc0b33090",
    "type":"http request",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"唤醒应用",
    "method":"POST",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"10.10.2.15:1880/docker/exec",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"basic",
    "senderr":false,
    "headers":[ ],
    "x":400,
    "y":860,
    "wires":[
      [
        "fcdacafaaf816f14"
      ]
    ]
  },
  {
    "id":"a5ac67075b5b7d39",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"唤醒应用",
    "func":"let containerName = global.get(\"scrcpyWebContainerName\")\nlet address = global.get(\"address\")\nlet shell =\n\"adb -s\" + \" \" +\naddress + \" \" +\n\"shell am start -n\" + \" \" +\n\"com.pranavpandey.rotation/.activity.SplashActivity\"\n\nmsg.payload = {\n    \"containerName\": containerName,\n    \"additional\": shell\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":240,
    "y":860,
    "wires":[
      [
        "46386d0dc0b33090"
      ]
    ]
  },
  {
    "id":"bac42d79f12711a4",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"画面横屏",
    "links":[
      "d03276d6356cdfbc"
    ],
    "x":125,
    "y":860,
    "wires":[
      [
        "a5ac67075b5b7d39",
        "9a172d2d38d2a8bf"
      ]
    ]
  },
  {
    "id":"32d45a76145016ba",
    "type":"http request",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"回到主页",
    "method":"POST",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"10.10.2.15:1880/docker/exec",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"basic",
    "senderr":false,
    "headers":[ ],
    "x":400,
    "y":980,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"0d8302a5b7c206d4",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"回到主页",
    "func":"let containerName = global.get(\"scrcpyWebContainerName\")\nlet address = global.get(\"address\")\nlet shell =\n\"adb -s\" + \" \" +\naddress + \" \" +\n\"shell input keyevent 3\"\n\nmsg.payload = {\n    \"containerName\": containerName,\n    \"additional\": shell\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":240,
    "y":980,
    "wires":[
      [
        "32d45a76145016ba"
      ]
    ]
  },
  {
    "id":"3ddd712df2ac967c",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"link in 43",
    "links":[
      "76e8933130de0c7b"
    ],
    "x":125,
    "y":980,
    "wires":[
      [
        "0d8302a5b7c206d4"
      ]
    ]
  },
  {
    "id":"d17db079530c34f8",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"link out 43",
    "mode":"link",
    "links":[
      "6b9b9bfb6ad09b8d"
    ],
    "x":675,
    "y":860,
    "wires":[ ]
  },
  {
    "id":"2215dd1f258efd90",
    "type":"comment",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"画面横屏",
    "info":"借助roration实现页面横屏",
    "x":560,
    "y":800,
    "wires":[ ]
  },
  {
    "id":"fcdacafaaf816f14",
    "type":"delay",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"",
    "pauseType":"delay",
    "timeout":"2",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "outputs":1,
    "x":560,
    "y":860,
    "wires":[
      [
        "d17db079530c34f8"
      ]
    ]
  },
  {
    "id":"bf58db07d41ba0ab",
    "type":"maa",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":1290,
    "y":380,
    "wires":[
      [
        "09ef9b6f479bfa9e"
      ]
    ]
  },
  {
    "id":"cc34e17267a6dbb4",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"唤醒",
    "func":"// 任务类型\nmsg.topic = \"AppendTask\";\n\nconst uuid = global.get(\"uuid\")\nconst type = \"StartUp\"\nconst params = JSON.stringify({\n    \"client_type\": \"Official\",\n    \"start_game_enabled\": true\n})\n\nmsg.topic = \"AppendTask\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"type\": type,\n    \"params\": params\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1150,
    "y":380,
    "wires":[
      [
        "bf58db07d41ba0ab"
      ]
    ]
  },
  {
    "id":"8ac0d723f0cc5e27",
    "type":"maa",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":1290,
    "y":320,
    "wires":[
      [
        "cbb08ee17c1c1841"
      ]
    ]
  },
  {
    "id":"65678eaecec8fba2",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"连接",
    "func":"const uuid = global.get(\"uuid\")\nconst config = {}\n\nmsg.topic = \"Connect\"\nmsg.payload = {\n    \"uuid\": uuid,\n    \"adbPath\": \"/data/env/adb/adb\",\n    \"address\": \"10.10.1.5:5555\"\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1150,
    "y":320,
    "wires":[
      [
        "8ac0d723f0cc5e27"
      ]
    ]
  },
  {
    "id":"cbb08ee17c1c1841",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"link out 19",
    "mode":"link",
    "links":[
      "7590d09ac1ded189"
    ],
    "x":1395,
    "y":320,
    "wires":[ ]
  },
  {
    "id":"7590d09ac1ded189",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"link in 19",
    "links":[
      "cbb08ee17c1c1841"
    ],
    "x":1045,
    "y":380,
    "wires":[
      [
        "cc34e17267a6dbb4"
      ]
    ]
  },
  {
    "id":"c361f6b1118bbb22",
    "type":"maa",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "maaCore":"72b0ff95efc17e26",
    "name":"Maa",
    "x":1290,
    "y":440,
    "wires":[
      [
        "62c276d1569ed671",
        "3b3b947a95435a21"
      ]
    ]
  },
  {
    "id":"4a0b5a13cd476c51",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"开始",
    "func":"// 任务类型\nmsg.topic = \"Start\"\n\nconst uuid = global.get(\"uuid\")\n\nmsg.payload = {\n    \"uuid\": uuid\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1150,
    "y":440,
    "wires":[
      [
        "c361f6b1118bbb22"
      ]
    ]
  },
  {
    "id":"62c276d1569ed671",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"开始任务",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1500,
    "y":420,
    "wires":[ ]
  },
  {
    "id":"3b3b947a95435a21",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"link out 21",
    "mode":"link",
    "links":[ ],
    "x":1395,
    "y":440,
    "wires":[ ]
  },
  {
    "id":"ae4655eb2cfc9605",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"link in 20",
    "links":[
      "09ef9b6f479bfa9e"
    ],
    "x":1045,
    "y":440,
    "wires":[
      [
        "4a0b5a13cd476c51"
      ]
    ]
  },
  {
    "id":"09ef9b6f479bfa9e",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"link out 22",
    "mode":"link",
    "links":[
      "ae4655eb2cfc9605"
    ],
    "x":1395,
    "y":380,
    "wires":[ ]
  },
  {
    "id":"e2036f09a10a7246",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"画面横屏备选",
    "links":[ ],
    "x":1045,
    "y":320,
    "wires":[
      [
        "65678eaecec8fba2",
        "b9571fccf2bab8a2"
      ]
    ]
  },
  {
    "id":"cad1fcd4228804ae",
    "type":"comment",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"画面横屏备选",
    "info":"",
    "x":1510,
    "y":260,
    "wires":[ ]
  },
  {
    "id":"19c6024f75739a71",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"21c362379cbb00e7",
    "name":"更新日志",
    "func":"msg.payload = msg.payload.details.body\n\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":420,
    "y":140,
    "wires":[
      [
        "ac717888b8b4b707"
      ]
    ]
  },
  {
    "id":"a5f54d6f75ca6189",
    "type":"subflow:ef55c00613a0f0a1",
    "z":"0cae61c4838b5b3e",
    "g":"21c362379cbb00e7",
    "name":"",
    "x":250,
    "y":140,
    "wires":[
      [
        "19c6024f75739a71"
      ]
    ]
  },
  {
    "id":"99c7a5c608fde589",
    "type":"ui_toast",
    "z":"0cae61c4838b5b3e",
    "g":"21c362379cbb00e7",
    "position":"dialog",
    "displayTime":"3",
    "highlight":"",
    "sendall":true,
    "outputs":1,
    "ok":"确认",
    "cancel":"",
    "raw":true,
    "className":"",
    "topic":"更新日志",
    "name":"更新日志",
    "x":720,
    "y":140,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"ac717888b8b4b707",
    "type":"markdown",
    "z":"0cae61c4838b5b3e",
    "g":"21c362379cbb00e7",
    "name":"解析",
    "x":570,
    "y":140,
    "wires":[
      [
        "99c7a5c608fde589"
      ]
    ]
  },
  {
    "id":"1b90e777afce8abb",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"21c362379cbb00e7",
    "name":"更新日志",
    "links":[
      "89551e3b677c2274"
    ],
    "x":125,
    "y":140,
    "wires":[
      [
        "a5f54d6f75ca6189",
        "a158606185f0b6e4"
      ]
    ]
  },
  {
    "id":"1987b2f42ad8fe31",
    "type":"comment",
    "z":"0cae61c4838b5b3e",
    "g":"21c362379cbb00e7",
    "name":"更新日志",
    "info":"",
    "x":720,
    "y":80,
    "wires":[ ]
  },
  {
    "id":"0a0e3422250bacd0",
    "type":"exec",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "command":"",
    "addpay":"payload",
    "append":"",
    "useSpawn":"true",
    "timer":"",
    "winHide":false,
    "oldrc":false,
    "name":"下载Maa介质",
    "x":410,
    "y":440,
    "wires":[
      [ ],
      [
        "eb9a33fddbfdfae1"
      ],
      [ ]
    ]
  },
  {
    "id":"7f6e7b19291b492c",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"获取镜像",
    "func":"// 获取操作系统类型\nlet system_platform = flow.get(\"system_platform\")\nif (system_platform == null){\n    system_platform = \"linux-x86_64\"\n}\n\n// 正则匹配\nlet pattern = \n\"^MAA-.*\" \n+ system_platform \n+ \".*(?<!.AppImage)$\"\nconst reg = new RegExp(pattern, 'g');\n\nlet assets_list = msg.payload.details.assets\nlet mirrors = null\nlet asset_name = null\nfor (let i = 0; i < assets_list.length; i++) {\n    asset_name = assets_list[i][\"name\"]\n    if (asset_name.match(pattern) != null) {\n        mirrors = assets_list[i][\"mirrors\"]\n        const github_url = assets_list[i][\"browser_download_url\"]\n        mirrors.push(github_url)\n        break\n    }\n}\nmsg.payload = {\n    \"asset_name\": asset_name,\n    \"mirrors\": mirrors\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":580,
    "y":320,
    "wires":[
      [
        "4543e6043b23601f"
      ]
    ]
  },
  {
    "id":"e10124b017097d53",
    "type":"subflow:ef55c00613a0f0a1",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"",
    "x":410,
    "y":320,
    "wires":[
      [
        "7f6e7b19291b492c"
      ]
    ]
  },
  {
    "id":"4543e6043b23601f",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"保存信息",
    "func":"let asset_name = msg.payload.asset_name\nlet mirrors = msg.payload.mirrors\n// 由于第一个地址下载失败，暂时修0为1\nlet download_url = mirrors[2]\nlet download_path = \"/data/env/\" + asset_name\nflow.set(\"downloadUrl\",download_url)\nflow.set(\"downloadPath\",download_path)\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":740,
    "y":320,
    "wires":[
      [
        "89a7b644e27f5d61"
      ]
    ]
  },
  {
    "id":"8728c91298cd0c96",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"删除命令",
    "func":"let download_path = flow.get(\"downloadPath\")\n// 拼接删除旧介质\nlet shell = \"rm -f \"+ download_path\nmsg.payload = shell\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":240,
    "y":380,
    "wires":[
      [
        "cf4cd9668f36a1ef"
      ]
    ]
  },
  {
    "id":"c6d1f7eb47cb79a6",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"下载命令",
    "func":"let download_url = flow.get(\"downloadUrl\")\nlet download_path = flow.get(\"downloadPath\")\n// 拼接下载新介质命令\nlet shell = \n\"wget -c \"\n+ download_url\n+ \" -O \"\n+ download_path\n\nmsg.payload = shell\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":240,
    "y":440,
    "wires":[
      [
        "0a0e3422250bacd0"
      ]
    ]
  },
  {
    "id":"cf4cd9668f36a1ef",
    "type":"exec",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "command":"",
    "addpay":"payload",
    "append":"",
    "useSpawn":"false",
    "timer":"",
    "winHide":false,
    "oldrc":false,
    "name":"删除Maa介质",
    "x":410,
    "y":380,
    "wires":[
      [ ],
      [ ],
      [
        "d369e338a16dd918"
      ]
    ]
  },
  {
    "id":"7ab56c6c20b8be2b",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link in 21",
    "links":[
      "89a7b644e27f5d61"
    ],
    "x":125,
    "y":380,
    "wires":[
      [
        "8728c91298cd0c96"
      ]
    ]
  },
  {
    "id":"89a7b644e27f5d61",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link out 24",
    "mode":"link",
    "links":[
      "7ab56c6c20b8be2b"
    ],
    "x":855,
    "y":320,
    "wires":[ ]
  },
  {
    "id":"28e2ebae829e3efb",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link out 25",
    "mode":"link",
    "links":[
      "719b8172fbcf008d"
    ],
    "x":855,
    "y":380,
    "wires":[ ]
  },
  {
    "id":"d369e338a16dd918",
    "type":"switch",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"删除判断",
    "property":"payload.code",
    "propertyType":"msg",
    "rules":[
      {
        "t":"eq",
        "v":"0",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":1,
    "x":580,
    "y":380,
    "wires":[
      [
        "28e2ebae829e3efb"
      ]
    ]
  },
  {
    "id":"eb9a33fddbfdfae1",
    "type":"switch",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"筛选进度",
    "property":"payload",
    "propertyType":"msg",
    "rules":[
      {
        "t":"cont",
        "v":"%",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":1,
    "x":580,
    "y":440,
    "wires":[
      [
        "658e3e3c6ec27862"
      ]
    ]
  },
  {
    "id":"658e3e3c6ec27862",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"下载进度",
    "func":"let log = msg.payload\n// 正则匹配\nlet pattern = \"[0-9]{1,3}\"\nconst reg = new RegExp(pattern, 'g');\nif (log.match(pattern) != null){\n    msg.payload = {\n        value: log.match(pattern)[0],\n        text: log.match(pattern)[0] + '%'\n    }\n}\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":740,
    "y":440,
    "wires":[
      [
        "f24720f037a082bf"
      ]
    ]
  },
  {
    "id":"bf703aa000839a40",
    "type":"switch",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"判断进度",
    "property":"payload.value",
    "propertyType":"msg",
    "rules":[
      {
        "t":"eq",
        "v":"100",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":1,
    "x":240,
    "y":560,
    "wires":[
      [
        "1fa87dcc50d36e92"
      ]
    ]
  },
  {
    "id":"49c27acd5cc16944",
    "type":"rbe",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"修改进度",
    "func":"rbe",
    "gap":"",
    "start":"",
    "inout":"out",
    "septopics":true,
    "property":"payload.value",
    "topi":"topic",
    "x":240,
    "y":500,
    "wires":[
      [
        "28e963b627ab8d78"
      ]
    ]
  },
  {
    "id":"1fa87dcc50d36e92",
    "type":"change",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"下载成功",
    "rules":[
      {
        "t":"set",
        "p":"payload.text",
        "pt":"msg",
        "to":"下载成功",
        "tot":"str"
      }
    ],
    "action":"",
    "property":"",
    "from":"",
    "to":"",
    "reg":false,
    "x":400,
    "y":560,
    "wires":[
      [
        "3a830d85318cafc5"
      ]
    ]
  },
  {
    "id":"e71c298ad63c395d",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"解压命令",
    "func":"let download_path = flow.get(\"downloadPath\")\n// 拼接解压命令\nlet shell =\n\"tar -xf \"\n+ download_path\n+ \" -C \"\n+ \"/data/env/maa\"\nmsg.payload = shell\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":240,
    "y":620,
    "wires":[
      [
        "5dfee144969b2823"
      ]
    ]
  },
  {
    "id":"5dfee144969b2823",
    "type":"exec",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "command":"",
    "addpay":"payload",
    "append":"",
    "useSpawn":"true",
    "timer":"",
    "winHide":false,
    "oldrc":false,
    "name":"解压Maa介质",
    "x":410,
    "y":620,
    "wires":[
      [ ],
      [ ],
      [
        "821c156132847cff"
      ]
    ]
  },
  {
    "id":"b2acb9c0f656855a",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"解压中",
    "func":"msg.payload.text = \"解压中...\"\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":730,
    "y":560,
    "wires":[
      [
        "f7660272499b275a"
      ]
    ]
  },
  {
    "id":"719b8172fbcf008d",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link in 22",
    "links":[
      "28e2ebae829e3efb"
    ],
    "x":125,
    "y":440,
    "wires":[
      [
        "c6d1f7eb47cb79a6"
      ]
    ]
  },
  {
    "id":"3a830d85318cafc5",
    "type":"delay",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"",
    "pauseType":"delay",
    "timeout":"2",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "outputs":1,
    "x":580,
    "y":560,
    "wires":[
      [
        "b2acb9c0f656855a"
      ]
    ]
  },
  {
    "id":"821c156132847cff",
    "type":"switch",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"解压判断",
    "property":"payload.code",
    "propertyType":"msg",
    "rules":[
      {
        "t":"eq",
        "v":"0",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":1,
    "x":580,
    "y":620,
    "wires":[
      [
        "90023eab6b8d19af"
      ]
    ]
  },
  {
    "id":"28e963b627ab8d78",
    "type":"delay",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"",
    "pauseType":"delay",
    "timeout":"2",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "outputs":1,
    "x":580,
    "y":500,
    "wires":[
      [
        "691b69b356962df3"
      ]
    ]
  },
  {
    "id":"90023eab6b8d19af",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"解压成功",
    "func":"msg.payload.text = \"解压成功\"\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":740,
    "y":620,
    "wires":[
      [
        "5131fce6ce8f8e6c"
      ]
    ]
  },
  {
    "id":"c8e80ea49d75c6d3",
    "type":"delay",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"",
    "pauseType":"delay",
    "timeout":"2",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "outputs":1,
    "x":580,
    "y":680,
    "wires":[
      [
        "2ab436afabe56dc5"
      ]
    ]
  },
  {
    "id":"2ab436afabe56dc5",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"准备重启",
    "func":"msg.payload.text = \"准备重启\"\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":740,
    "y":680,
    "wires":[
      [
        "4c1b24a79a6bc8dc"
      ]
    ]
  },
  {
    "id":"0c84392ace4caceb",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"删除命令",
    "func":"let download_path = flow.get(\"downloadPath\")\nlet shell = \"rm -f \"+ download_path\nmsg.payload = shell\nreturn msg;",
    "outputs":1,
    "timeout":"",
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":240,
    "y":680,
    "wires":[
      [
        "0c08c222de944343"
      ]
    ]
  },
  {
    "id":"0c08c222de944343",
    "type":"exec",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "command":"",
    "addpay":"payload",
    "append":"",
    "useSpawn":"false",
    "timer":"",
    "winHide":false,
    "oldrc":false,
    "name":"删除Maa介质",
    "x":410,
    "y":680,
    "wires":[
      [ ],
      [ ],
      [ ]
    ]
  },
  {
    "id":"d5580fb42a026803",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link in 30",
    "links":[
      "f24720f037a082bf"
    ],
    "x":125,
    "y":500,
    "wires":[
      [
        "49c27acd5cc16944"
      ]
    ]
  },
  {
    "id":"f24720f037a082bf",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link out 34",
    "mode":"link",
    "links":[
      "d5580fb42a026803"
    ],
    "x":855,
    "y":440,
    "wires":[ ]
  },
  {
    "id":"691b69b356962df3",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link out 36",
    "mode":"link",
    "links":[
      "f4c786669e1fb06c",
      "0d030187b6498337"
    ],
    "x":855,
    "y":500,
    "wires":[ ]
  },
  {
    "id":"0d030187b6498337",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link in 33",
    "links":[
      "691b69b356962df3"
    ],
    "x":125,
    "y":560,
    "wires":[
      [
        "bf703aa000839a40"
      ]
    ]
  },
  {
    "id":"bae47c28d4e3eae1",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link in 35",
    "links":[
      "f7660272499b275a"
    ],
    "x":125,
    "y":620,
    "wires":[
      [
        "e71c298ad63c395d"
      ]
    ]
  },
  {
    "id":"f7660272499b275a",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link out 38",
    "mode":"link",
    "links":[
      "f4c786669e1fb06c",
      "4581204586d412e0",
      "bae47c28d4e3eae1"
    ],
    "x":855,
    "y":560,
    "wires":[ ]
  },
  {
    "id":"5131fce6ce8f8e6c",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link out 39",
    "mode":"link",
    "links":[
      "f4c786669e1fb06c",
      "42486d2aa21fcd08",
      "e1de32c9c1160108"
    ],
    "x":855,
    "y":620,
    "wires":[ ]
  },
  {
    "id":"4c1b24a79a6bc8dc",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link out 40",
    "mode":"link",
    "links":[
      "f4c786669e1fb06c",
      "dfd2b720c3544999"
    ],
    "x":855,
    "y":680,
    "wires":[ ]
  },
  {
    "id":"e1de32c9c1160108",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"link in 37",
    "links":[
      "5131fce6ce8f8e6c"
    ],
    "x":125,
    "y":680,
    "wires":[
      [
        "0c84392ace4caceb",
        "c8e80ea49d75c6d3"
      ]
    ]
  },
  {
    "id":"0b3827d7ce88a4bf",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"Maa更新",
    "links":[
      "68164d21e8a682db"
    ],
    "x":125,
    "y":320,
    "wires":[
      [
        "e10124b017097d53",
        "743aa6c291d9972d"
      ]
    ]
  },
  {
    "id":"da42d9a95b8833f0",
    "type":"comment",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"Maa更新",
    "info":"",
    "x":740,
    "y":260,
    "wires":[ ]
  },
  {
    "id":"7af1b617699d338b",
    "type":"http request",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"重启容器",
    "method":"POST",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"10.10.2.15:1880/docker/restart",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"basic",
    "senderr":false,
    "headers":[ ],
    "x":1320,
    "y":680,
    "wires":[
      [
        "ab4bc09884bbd021"
      ]
    ]
  },
  {
    "id":"dfd2b720c3544999",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"重启容器",
    "links":[
      "47eb70adf7b4d982",
      "4c1b24a79a6bc8dc"
    ],
    "x":1045,
    "y":620,
    "wires":[
      [
        "1a8011e07d54c365",
        "bade6e78185077c1"
      ]
    ]
  },
  {
    "id":"ab4bc09884bbd021",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"重启容器",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1480,
    "y":680,
    "wires":[ ]
  },
  {
    "id":"5e79c6267f3e5c9a",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"重启容器",
    "func":"let config = global.get(\"config\")\nlet containerId = config.containerId;\n\nmsg.payload = {\n    \"containerName\": containerId\n}\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1160,
    "y":680,
    "wires":[
      [
        "7af1b617699d338b"
      ]
    ]
  },
  {
    "id":"5af4abeed7e8817e",
    "type":"comment",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"重启容器",
    "info":"",
    "x":1480,
    "y":560,
    "wires":[ ]
  },
  {
    "id":"e2b0214e98554ab8",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"83c1a37673fe71e3",
    "name":"命令拼接",
    "func":"let config = global.get(\"config\")\n\nlet containerName = config.scrcpyWebContainerName\nlet address = config.address\nlet shell = \"adb connect \" + address\n\nmsg.payload = {\n    \"containerName\": containerName,\n    \"additional\": shell\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1060,
    "y":140,
    "wires":[
      [
        "8f25ef93828b6992"
      ]
    ]
  },
  {
    "id":"8f25ef93828b6992",
    "type":"http request",
    "z":"0cae61c4838b5b3e",
    "g":"83c1a37673fe71e3",
    "name":"ADB连接",
    "method":"POST",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"10.10.2.15:1880/docker/exec",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"basic",
    "senderr":false,
    "headers":[ ],
    "x":1220,
    "y":140,
    "wires":[
      [ ]
    ]
  },
  {
    "id":"652f577477c587d5",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"83c1a37673fe71e3",
    "name":"ScrcpyWeb",
    "links":[
      "897ea81ae22090e2",
      "f3578fe1ff1cc7dc"
    ],
    "x":945,
    "y":140,
    "wires":[
      [
        "e2b0214e98554ab8",
        "f5c08a8d4bd8c778"
      ]
    ]
  },
  {
    "id":"8bd6261ff3062dcc",
    "type":"comment",
    "z":"0cae61c4838b5b3e",
    "g":"83c1a37673fe71e3",
    "name":"ScrcpyWeb",
    "info":"",
    "x":1270,
    "y":80,
    "wires":[ ]
  },
  {
    "id":"743aa6c291d9972d",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"ebe0c6598f832014",
    "name":"入参Debug",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":250,
    "y":260,
    "wires":[ ]
  },
  {
    "id":"a158606185f0b6e4",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"21c362379cbb00e7",
    "name":"入参Debug",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":250,
    "y":80,
    "wires":[ ]
  },
  {
    "id":"1a8011e07d54c365",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"入参Debug",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1170,
    "y":560,
    "wires":[ ]
  },
  {
    "id":"b9571fccf2bab8a2",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"8a5cdf3caad13f87",
    "name":"入参Debug",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1170,
    "y":260,
    "wires":[ ]
  },
  {
    "id":"9a172d2d38d2a8bf",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"入参Debug",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":250,
    "y":800,
    "wires":[ ]
  },
  {
    "id":"f5c08a8d4bd8c778",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"83c1a37673fe71e3",
    "name":"入参Debug",
    "active":false,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1070,
    "y":80,
    "wires":[ ]
  },
  {
    "id":"bade6e78185077c1",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"重启提示",
    "func":"msg.payload = \"是否立即重启\"\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":1160,
    "y":620,
    "wires":[
      [
        "d8ea725e5dff0b60"
      ]
    ]
  },
  {
    "id":"d8ea725e5dff0b60",
    "type":"ui_toast",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "position":"dialog",
    "displayTime":"3",
    "highlight":"",
    "sendall":true,
    "outputs":1,
    "ok":"确定",
    "cancel":"取消",
    "raw":false,
    "className":"",
    "topic":"",
    "name":"重启提示",
    "x":1320,
    "y":620,
    "wires":[
      [
        "b2e78c548f899aa1"
      ]
    ]
  },
  {
    "id":"7f57b48c70532fac",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"link in 38",
    "links":[
      "60e26979a8cd1d8d",
      "73f5d4849759e8dc"
    ],
    "x":1045,
    "y":680,
    "wires":[
      [
        "5e79c6267f3e5c9a"
      ]
    ]
  },
  {
    "id":"b2e78c548f899aa1",
    "type":"switch",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"重启判断",
    "property":"payload",
    "propertyType":"msg",
    "rules":[
      {
        "t":"eq",
        "v":"确定",
        "vt":"str"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":1,
    "x":1480,
    "y":620,
    "wires":[
      [
        "60e26979a8cd1d8d"
      ]
    ]
  },
  {
    "id":"60e26979a8cd1d8d",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"46044c8b0b88adf2",
    "name":"link out 41",
    "mode":"link",
    "links":[
      "7f57b48c70532fac"
    ],
    "x":1595,
    "y":620,
    "wires":[ ]
  },
  {
    "id":"e6c632328916548e",
    "type":"http request",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"模拟点击",
    "method":"POST",
    "ret":"txt",
    "paytoqs":"ignore",
    "url":"10.10.2.15:1880/docker/exec",
    "tls":"",
    "persist":false,
    "proxy":"",
    "insecureHTTPParser":false,
    "authType":"basic",
    "senderr":false,
    "headers":[ ],
    "x":400,
    "y":920,
    "wires":[
      [
        "2b66bfc57144fb1d"
      ]
    ]
  },
  {
    "id":"3f295c351af98069",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"模拟点击",
    "func":"let containerName = global.get(\"scrcpyWebContainerName\")\nlet address = global.get(\"address\")\nlet shell =\n    \"adb -s\" + \" \" +\n    address + \" \" +\n    \"shell input tap 576 1088\"\n\nmsg.payload = {\n    \"containerName\": containerName,\n    \"additional\": shell\n}\n\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":240,
    "y":920,
    "wires":[
      [
        "e6c632328916548e"
      ]
    ],
    "info":"横屏命令\r\n720x1280\r\n0.8x0.875\r\ninput tap 576 1088\r\n竖屏命令\r\n1280x720\r\n0.875x0.875\r\ninput tap 1088 630"
  },
  {
    "id":"76e8933130de0c7b",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"link out 57",
    "mode":"link",
    "links":[
      "3ddd712df2ac967c"
    ],
    "x":675,
    "y":920,
    "wires":[ ]
  },
  {
    "id":"2b66bfc57144fb1d",
    "type":"delay",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"",
    "pauseType":"delay",
    "timeout":"2",
    "timeoutUnits":"seconds",
    "rate":"1",
    "nbRateUnits":"1",
    "rateUnits":"second",
    "randomFirst":"1",
    "randomLast":"5",
    "randomUnits":"seconds",
    "drop":false,
    "allowrate":false,
    "outputs":1,
    "x":560,
    "y":920,
    "wires":[
      [
        "76e8933130de0c7b"
      ]
    ]
  },
  {
    "id":"6b9b9bfb6ad09b8d",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"8256f42dd842ff3e",
    "name":"link in 53",
    "links":[
      "d17db079530c34f8"
    ],
    "x":125,
    "y":920,
    "wires":[
      [
        "3f295c351af98069"
      ]
    ]
  },
  {
    "id":"7a36d3b13fd62948",
    "type":"websocket in",
    "z":"0cae61c4838b5b3e",
    "name":"test",
    "server":"fed9dbc068e140f7",
    "client":"",
    "x":270,
    "y":1220,
    "wires":[
      [
        "b6d862da5558c4a2"
      ]
    ]
  },
  {
    "id":"b6d862da5558c4a2",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "name":"debug 14",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":420,
    "y":1220,
    "wires":[ ]
  },
  {
    "id":"ab8319a987190680",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"记录",
    "func":"let execCount = msg.payload;\nflow.set(\"execCount\",execCount);\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":970,
    "y":920,
    "wires":[
      [
        "20272c66f85bca74"
      ]
    ]
  },
  {
    "id":"a5c939a28746be65",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"link in 55",
    "links":[
      "b2b08210a2011748"
    ],
    "x":865,
    "y":920,
    "wires":[
      [
        "ab8319a987190680"
      ]
    ]
  },
  {
    "id":"6335f0d6d7a53197",
    "type":"function",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"校验",
    "func":"let execCount = flow.get(\"execCount\");\nmsg.payload = false;\nif(execCount > 128){\n    flow.set(\"execCount\",0);\n    msg.payload = true;\n}\nreturn msg;",
    "outputs":1,
    "timeout":0,
    "noerr":0,
    "initialize":"",
    "finalize":"",
    "libs":[ ],
    "x":970,
    "y":860,
    "wires":[
      [
        "1544712caae62327"
      ]
    ]
  },
  {
    "id":"25f9282ca95fe463",
    "type":"link in",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"link in 56",
    "links":[
      "0136a408a73a7baa",
      "27fcbd89b2dfb4b4"
    ],
    "x":865,
    "y":860,
    "wires":[
      [
        "6335f0d6d7a53197"
      ]
    ]
  },
  {
    "id":"7401d293f49c32fe",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"link out 61",
    "mode":"link",
    "links":[
      "7d4a42283a60452b"
    ],
    "x":1275,
    "y":920,
    "wires":[ ]
  },
  {
    "id":"f5b613808da34ee3",
    "type":"comment",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"执行次数重启",
    "info":"",
    "x":1190,
    "y":800,
    "wires":[ ]
  },
  {
    "id":"1544712caae62327",
    "type":"switch",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"是否重启",
    "property":"payload",
    "propertyType":"msg",
    "rules":[
      {
        "t":"true"
      },
      {
        "t":"false"
      }
    ],
    "checkall":"true",
    "repair":false,
    "outputs":2,
    "x":1120,
    "y":860,
    "wires":[
      [
        "73f5d4849759e8dc"
      ],
      [
        "7401d293f49c32fe"
      ]
    ]
  },
  {
    "id":"73f5d4849759e8dc",
    "type":"link out",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"link out 62",
    "mode":"link",
    "links":[
      "7f57b48c70532fac"
    ],
    "x":1275,
    "y":860,
    "wires":[ ]
  },
  {
    "id":"20272c66f85bca74",
    "type":"debug",
    "z":"0cae61c4838b5b3e",
    "g":"1c5b037f77085938",
    "name":"execCount",
    "active":true,
    "tosidebar":true,
    "console":false,
    "tostatus":false,
    "complete":"payload",
    "targetType":"msg",
    "statusVal":"",
    "statusType":"auto",
    "x":1130,
    "y":920,
    "wires":[ ]
  }
]